


    <div class="row login-form" >
            <div class="col container">
                <form class="form-signin pt-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="col-md-12 logo py-lg-5">
                            <img [src]="forImage + '/assets/images/ssk_logo.svg'" class="img-fluid"  alt="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon transparent">
                            <img class="pull-left mr-1 email-icon" [src]="emailIcon"></span>
                        <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />  
                    </div>
        
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div class="error-message" *ngIf="f.email.errors.required">Email is required</div>
                            <div class="error-message" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    &nbsp;&nbsp;
        
                    <div class="input-group">
                        <span class="input-group-addon transparent">
                            <img class="pull-left mr-1 password-icon" [src]="passwordIcon"></span>
                        <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div class="error-message" *ngIf="f.password.errors.required">Password is required</div>
                            <div class="error-message" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                    &nbsp;&nbsp;
        
                    <button class="btn btn-lg btn-primary btn-block sign-in-button" type="submit" >
                        SIGN IN
                    </button>
                    <div class="checkbox pt-3">
                        <label>
                            <input type="checkbox" value="remember-me"/> Remember me
                            <span class="pull-right"><a href="#" class="underlined-link"> Forgot password ? </a></span>
                        </label>
                    </div> 
                    <div class="hr-or-login pt-4 pb-4">
                        <div class="hr-line"></div>
                        <div class="or-login-with">OR LOGIN WITH</div>
                        <div class="hr-line"></div>
                    </div>
                    <a class="btn btn-lg btn-primary btn-block orcid-button" href="#">
                        <img class="pull-left ml-5 orcid-icon" [src]="orcidIcon">
                        <span class="orcid-text-button">ORCID</span>
                    </a>
                    <a class="btn btn-lg btn-primary btn-block github-button" href="https://github.com/ParthenosWP4/SSK">
                        <img class="pull-left ml-5 github-icon" [src]="githubIcon">
                        <span class="github-text-button">GITHUB</span>
                    </a>
                    <label class="text-center pt-4 no-account-text">
                        Don't have an account
                    </label>
                    <label class="text-center">
                        <a [routerLink]="['/user/create-account']" class="underlined-link" (click)="close(this)"> Create a new account</a>
                    </label>
                </form>
            </div>
    </div>

    
    