
.logo{
    text-align: center;
}

.container{
    background: linear-gradient(135deg, #EEEEEE 0%, #90CCE6 100%);

}



.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    width: 100%;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


label{
      width: 100%;
      color: #4A4A4A;	
      font-family: "Avenir Next";
      span{
        font-weight: bold;
    }
  }
 

.sign-in-button{
    background-color: #63B9D8;
    border-radius: 25px;
}



.btn-lg, .btn-group-lg > .btn {
    height: 3.25rem;
}

.input-group{
    height: 50px;
}

input{
    background-color: #F2F2F2;
    height: 50px;
   
}
input.termsAndCdtions{
    height: 1rem !important;
}

.transparent {
    background-color: white;
    width:50px;
}

.left-border-none {
    border-left: none !important;
    
}

.error-message{
    color:red;
}

.btn-primary{
    border-color: transparent !important;
}

.form-control {
    background-clip: inherit;
    border-width: inherit;
}

.termsCdtionsLink{
    color: #64B9D8;
    cursor: pointer;
}



svg{
    width: 13rem;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.75rem; 
}
