
<div class="card  mr-3 my-5 ">
  <div class="title">
    {{step?.title}}
    <!-- Last updated: {{step?.lastUpdate | amTimeAgo}}-->
  </div>
  <div class="row vdivide">
    <div class="col ">
      <a [href]="'#/scenarios/' + scenario?.id + '/1'">{{scenarioTitle}}</a>
    </div>
    <div class="col mx-auto">
      <a  class="btn btn-step" [href]="'#/scenarios/' + scenario?.id + '/' + step.position">
        Step {{step?.position}}
      </a>
    </div>
  </div>
  <div class="descmt-2 mb-3" [innerHTML]="step?.description">
  </div>
  <p>
      <span class="tag my-1  mr-2 py-1" [ngClass] ="elt?.type"  *ngFor=" let elt of step?.metadata; let k = index"  tooltip="{{ elt?.type }} {{(elt?.source === undefined )? '': '-' + elt?.source}}" containerClass="tagClass" >{{elt?.key}}{{elt?.abbr}}</span>
    </p>
</div>
