
@import '../../partials/variables';

.card{
  /* Box: */
  box-shadow: 0 0 2px 0 $color-25 !important;
  border-radius: 10px;
  background-color: $color-3 !important;
  margin-top: 5px;
  cursor: pointer;

}

.card-header{
  font-family: $raleway-medium !important;
  font-size: $eighteen !important;
  color: $color-22 !important;
  background-color: $color-3 !important;
  border: none !important;
  border-radius: 10px;
  letter-spacing: -1px;
  height: 78px;
  vertical-align: middle;
  display: table-cell;
}

p button{
  font-family: $proxima-nova-regular;
  border: 2px solid $color-26 ;
  cursor: pointer;

}

p  span{
  font-family: $roboto-italic;
  font-size: 20px;
  color: $color-18;

}

:host /deep/ div.tooltip.show {
  opacity: 1 !important;
}

:host /deep/ div.tooltip-inner {
  background-color: $color-3 !important;
  font-family: $roboto-light !important;
  border: 1px solid  $color-32;
  color: $color-32;
  font-size: larger !important;
  font-weight: bold !important;

}

:host /deep/ div.tooltip-inner::before{


}
:host /deep/ .tooltip.top .tooltip-arrow .arrow:before,
:host /deep/ .tooltip.right .tooltip-arrow .arrow:before,
:host /deep/ .tooltip.top .tooltip-arrow .arrow,
:host /deep/ .tooltip.right .tooltip-arrow .arrow
{
  border: #009688;
}

.card-text{
  text-align: inherit !important;
}






