
<div class="card " >
  <div (click)="goToScenario(scenario?.id)">
  <div class="card-header align-middle">
   {{shortTitle?.content}}
  </div>
  <img class=" align-content-lg-center card-img-top img-fluid" src={{scenario?.image}} alt="">
  <img *ngIf="defaultImage" class="  card-img-top img-fluid" src={{defaultImage}} alt="default image">

  <p class="card-text m-2">{{shortDesc?.content}}</p>
  <p>
      <button *ngFor=" let elt of this.metadataPart1; let k = index"  tooltip ="{{'Type: '  +elt?.type +  ' / Source : '+ elt?.source  }}"  type="button"  class="btn btn-secondary tag m-1"  [placement]="(k == 0) ? 'right' : 'top'">{{elt?.key}}  {{elt?.abbr}}</button>
  </p>
  </div>
  <div  *ngIf = "metadataPart2" >
      <p class="collapsed text-center" data-toggle="collapse"  [attr.data-target]="'#' +scenario?.id"  aria-expanded="false" [attr.aria-controls]="'#' +scenario?.id">
               <span>More tags</span>
      </p>
      <p  [attr.id]="scenario?.id" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <button *ngFor=" let elt of this.metadataPart2; let j = index"  tooltip ="{{'Type: '  +elt?.type +  ' / Source : '+ elt?.source  }}"  type="button"  class="btn btn-secondary tag m-1"  [placement]="(j == 0) ? 'right' : 'top'">{{elt?.key}}  {{elt?.abbr}}</button>
      </p>
  </div>
</div>



