
@import '../../partials/variables';

.search{
  border: none;
  border-bottom: 1px solid $color-3 !important;
  background: transparent;
  size: 30px;
  border-radius: unset;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF;
  font-family: $raleway-italic;
  font-size: 30px;

}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
  font-family: $raleway-italic;
  font-size: 30px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFF;
  font-family: $raleway-italic;
  font-size: 30px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFFFFF;
  font-family: $raleway-italic;
  font-size: 30px;
}

.nav-tabs .nav-link{
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: unset !important;
  font-family: $raleway-regular !important;
  color:$color-24 !important;
}

.nav-link.active{
  border-bottom: 2px solid $color-7 !important;
}



ul li a {
  font-size: 26px !important;
  text-transform: capitalize;
}



.card-columns{
  orphans: 1 !important;
  widows:1 !important;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    .card{
      margin-bottom: 0px !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .card-columns {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
} }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}




.result {
  font-family: $raleway-regular;
  border-bottom: 1px dashed $color-28 !important;
  .result-tab{
    text-transform: capitalize;
    color: $color-7;
  }
}

.fa{
  color: $color-5 !important;
}
.fa-active{
  color: $color-12 !important;
}



#resources-tab{

}


.ssk-pagination /deep/ .ngx-pagination {
  a {
    color: $color-12 !important;
    font-family: $roboto-regular !important;
    font-size: 20px;
  }
  .current {
    background: $color-12;
    border-radius: .55rem;
  }
}


