<div class="">
  <div class="row bg-info py-lg-3 ">
    <div class="col-lg-3 "></div>
    <div class="col-lg-6 ">
      <div class="input-group ">
        <i class="fa fa-search fa-3x fa-inverse fa-flip-horizontal mr-lg-3 " aria-hidden="true" data-toggle="collapse" href="#demo" role="button" aria-expanded="false" aria-controls="demo" (click)="searchTab()"></i>
        <input type="text" class="form-control search" placeholder='{{searchPlaceholder}}' aria-describedby="basic-addon1" (keyup)="onKey($event)" autofocus/>
      </div>
      </div>
    <div class="col-lg-3 "></div>
  </div>

  <div class="row home">
    <div class=" col-lg-3  collapse" id="demo"  [ngClass]="collapse">
      <app-search-tab [data] = "searchData" ></app-search-tab>
    </div>
    <div [ngClass]="contentCol" >
      <div class="col-lg-6 mt-lg-5">
        <ul class="nav nav-tabs nav-justified" role="tablist"  >
          <li *ngFor=" let item   of tabList"  class="nav-item" >
              <a class="nav-link" [ngClass]="(item == 'scenarios') ? 'active':''" data-toggle="tab"  [attr.data-target]="'#'+ item + '-tab'"  (click)="toggle(item)" >{{item}} </a>
          </li>
        </ul>
      </div>
    <div class="tab-content  mx-5" >
      <div class=" row my-lg-5 vdivide result pb-5 ">
        <div class="col-lg-2 ">
          <span class="result-tab">{{resultCount}}</span> results for  <span class="result-tab">{{selectTab}}</span>
        </div>
        <div class="col-lg-4 text-center">
           Your filters :
          <span *ngFor = "let elt of filters" class="badge badge-default mx-lg-1"><i class="fa fa-times" aria-hidden="true" (click)="remove(elt)"></i>
{{elt}}</span>
        </div>
        <div class="col ">
            <span id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by relevance
            </span>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
        </div>
        <div class="col ">
          <i class="fa fa-th-large fa-2x mx-1 fa-active" aria-hidden="true"></i>
          <i class="fa fa-th-list fa-2x  mx-1 fa-default" aria-hidden="true"></i>
        </div>
      </div>

      <div class="tab-pane active " id="scenarios-tab">
        <div class="card-columns ">
          <div>
          <app-scenario-card  *ngFor="let scen of scenarios " [scenario]="scen "></app-scenario-card>
          </div>
          <app-scenario-template   *ngFor="let elt of scenariosTemp"  ></app-scenario-template>
      </div>
      </div>
      <div class="tab-pane " id="steps-tab">
        <app-step-card  *ngFor="let step of steps | paginate: { itemsPerPage: 10, currentPage: p,  totalItems: steps?.length }"  [step]="step "></app-step-card>
        <pagination-controls
          (pageChange)="p = $event"
          class="text-center ssk-pagination"
          previousLabel=""
          nextLabel="">

        </pagination-controls>
      </div>
      <div class="tab-pane  " id="resources-tab">
        <app-resource-card   *ngFor="let res of resources | paginate: { itemsPerPage: 10, currentPage: p,  totalItems: resources?.length }"  [res]="res" [border]="border"></app-resource-card>
        <pagination-controls
          (pageChange)="p = $event"
          class="text-center ssk-pagination"
          previousLabel=""
          nextLabel="">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</div>

