
@import '../partials/variables';

.bg-faded{
  background-color: $color-3
}


.btn-black{
  background-color:#000;
  color: #FFF;
}

.flag{
  border-left: solid white 1px;
}
.dropdown-toggle:after { content: none }

.dropdown:hover .dropdown-menu {
  display: block;
}

.caret {
  content: "";
}

.dropup .caret:after {
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 8px solid #e7e7e7;
  top: -9px;
  right: 80px;
  z-index: -1;
}


.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  font-family: $roboto-medium !important;
  color: $color-18 !important;
}


@media (min-width: 992px){
  .navbar li {
    margin-left : 1em;
    margin-right : 1em;

  }
}

@media (min-width: 1650px) {
  .container-fluid{
    width: 55%;
  }
}

footer {
  color: $color-3 !important;
  background-color: $color-18;
  font-size: 11px;
  span{
    color: $color-3;
    font-family: $raleway-bold;

  }
  a {
    color: $color-3 !important;
    font-family: $raleway-semibold;
  }
  .band{
    background-color: $color-23;
  }
  .end-of-page {
    font-family: $raleway-semibold;
  }

  .navbar-nav{
    flex-direction: row !important;
    li{
      margin-left : 1em;
      margin-right : 1em;
    }
  }
}


