
.timeline-item {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 10px;

  margin: 0 auto;
}


@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 400px;
  position: relative;
}


.background-masker {
  background: #fff;
  position: absolute;
}

/* Every thing below this is just positioning */





.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.title-first-line{
  top: 10px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.title-second-line{
  top: 25px;
  left: 0;
  right: 0;
  height: 15px;
}
.background-masker.content-top
{
  top: 220px;
  left: 0;
  right: 0;
  height: 15px;
}
.background-masker.third-line{
  top: 242px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.fourth-line{
  top: 254px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.fifth-line{
  top: 266px;
  left: 0;
  right: 0;
  height: 6px;
}
.background-masker.sixth-line{
  top: 278px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.seventh-line{
  top: 290px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.eighth-line{
  top: 302px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.ninth-line{
  top: 314px;
  left: 0;
  right: 0;
  height: 15px;
}

.tags{
  top: 330px;
  position: absolute;
}

.background-masker.subheader-right {
  top: 350px;
  left: 0;
  right: 0;
  height: 6px;

}


.background-masker.subheader-right-2 {
  top: 375px;
  left: 0;
  right: 0;
  height: 6px;
}

