<div class="card text-center my-lg-2"  >
<div class="timeline-wrapper" >
    <div class="timeline-item">
      <div class="animated-background">
        <div class="background-masker title-first-line"></div>
        <div class="background-masker title-second-line"></div>

        <div class="background-masker content-top"></div>
        <div class="background-masker third-line"></div>
        <div class="background-masker fourth-line"></div>
        <div class="background-masker fifth-line"></div>
        <div class="background-masker sixth-line"></div>
        <div class="background-masker seventh-line"></div>
        <div class="background-masker eighth-line"></div>
        <div class="background-masker ninth-line"></div>

        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-right-2"></div>
      </div>
    </div>
  </div>
  </div>
