<div class=" item d-flex h-100 mr-3 my-3" [ngStyle]="{'border-bottom': border.border }" (click)="open()">
  <div class=" mr-3" ngClass="border.class">
    <div class="preview mb-3" >
      <iframe class=" e2e-iframe-trusted-src embed-responsive-item" [src]= "loadPage()" allowfullscreen></iframe>
      <!--<link class="embed-responsive-item" rel=“import” [href]='res?.url' onload="onImportReady()">
      <object [data]='res?.url' class="embed-responsive-item">
        <embed [src]= 'res?.url' class="embed-responsive-item"> </embed>
      <!--< Error: Embedded data could not be displayed.</object>-->
</div>
</div>
<div class="col  ">
<p><span  *ngIf="res?.type" class="badge badge-pill badge-secondary">{{res?.type}}</span>
  <span class="author" >{{res?.creators}}</span>
<span class="title" > {{res?.title}}</span>
  <span class="date">{{res?.date}}</span>
</p>
</div>
</div>
