<div class=" item d-flex h-100 mr-3 my-3" [ngStyle]="{'border-bottom': border.border }">
  <div class=" mr-3" ngClass="border.class">
    <div class="preview mb-3">
      <iframe class="embed-responsive-item" [src]= 'res?.url' allowfullscreen></iframe>
    </div>
  </div>
  <div class="col  ">
    <p><span  *ngIf="res?.type" class="badge badge-pill badge-secondary">{{res?.type}}</span>
      <span class="author" >{{res?.creators}}</span>
    <span class="title" > {{res?.title}}</span>
      <span class="date">{{res?.date}}</span>
    </p>
  </div>
</div>
