@import '../../../partials/variables';



.team{
    font-family: $avenir-next;
    .title{
        color: $color-40;
    }
    .team-title{
        color: #4A4A4A;
        font-family: $avenir-next;
    }
    .presentationText{
        font-family: $roboto-light;
    }
    .behind-the-scene-part {
        background-color: $color-56;
    }
    .presentationProjectTeam {
        background-color: $color-33;
    }
    .profile-image {
        height:8rem;
        width:8rem;
        border-radius: 50%;
    }
    
    .role{
       
        font-family: $avenir_next_ul ;
        display: block;
       
    }
    .author{
        font-family: $avenir-next;
        color: $color-18;
        font-size: 1.5rem;
        display: block;
    }
    .team-bio-part{
        width: 85%;
        margin: 0 auto;
    }
}














