
<div class="row home ">
  <div class="col-lg-6 my-lg-5 col-md-12 col-sm-12 ">
        <div class="ml-lg-5 col-lg-6 text-lg-left text-center home-title ">
           Standardization Survival Kit
        </div>
        <div class="ml-lg-5 col-lg-1 offset-col-2 text-lg-left text-center">
            <hr >  
         </div>
        <div class="ml-lg-5 col-lg-10 col-md-12 col-sm-12 text-center  text-lg-left my-lg-4 home-text1 mr-lg-3" [innerHtml]="homeText | safeHtml"></div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-6  d-flex h-10 right ">
    <div class="row align-self-center w-100">
        <div class="mx-auto col-lg-8  text-lg-left ">
          <button type="button" class="btn  my-5  btn-lg btn-block home-btn scenarios " (click)="redirect('scenarios') ">
              <i class="ic ssk-explore pull-left" aria-hidden="true" ></i>
            <span>Browse scenarios</span>
          </button>
          <button type="button" class="btn  my-5 btn-lg btn-block home-btn steps" (click)="redirect('new-scenario')">
              <i class="ic ssk-create 2x pull-left" aria-hidden="true" ></i>
              <span>Add new scenario</span>
          </button>
          <button type="button" class="btn  my-5  btn-lg btn-block home-btn resources"  (click)="redirect('documentation')"> 
              <i class="ic ssk-bookopen pull-left" aria-hidden="true"></i>
              <span>About SSK</span>
          </button>
            
        </div>
    </div>
  </div>
</div>
<div class="home-second">
  <div class="row">
  <div class="p-lg-5 text-center">
    <div class="title">
        {{secondTitle}}
    </div>
    <div class="desc my-lg-2 col-lg-8 offset-lg-2 text-lg-left text-center" >
          {{secondDesc}}
    </div>
  </div>
</div>
<div class="row">
      <div class="col-2 offset-lg-2  ">
          <div class="in_img d-flex mb-lg-4">
              <img [src]= "forImage + '/assets/images/hands.svg'" class="mx-auto hands" />
          </div>
          <div class="in_text text-center">
              Consensus
          </div>
        </div>
        <div class="col-2 offset-lg-1">
            <div class=" in_img d-flex mb-lg-4">
                <img [src]= "forImage + '/assets/images/learning.svg'" class="mx-auto" />
          </div>
          <div class="in_text text-center">
              Openness
          </div>
        </div>
        <div class="col-2 offset-lg-1">
          <div class=" in_img d-flex mb-lg-4">
            <img [src]= "forImage + '/assets/images/maintenance.svg'" class="mx-auto" />
        </div>
        <div class="in_text text-center">
            Maintenance
        </div>
      </div>
      <div class="w-100"></div>
  </div>
  <div class="row">
      <div class="col-lg-8 text-lg-right offset-lg-2 last  my-lg-5">
          Are standards new to you ? Check this first : <a href="http://training.parthenos-project.eu/sample-page/intro-to-ri/interoperability/what-are-standards/" target="_blank">"What are standards ? Training suite" </a>. 
      </div>
  </div>
</div>
<div class="  row home-third ">
  <div class="col-lg-8 ">
      <img [src]= "forImage + '/assets/images/screen.svg'" />
  </div>
  <div class="col-lg-3  mt-lg-5">
    <div class="title mb-lg-5 ">
      {{thirdTitle}}
    </div>
    <div class="desc mt-lg-5" [innerHtml]="thirdDesc | safeHtml">  </div>
  </div>
</div>
<div class=" row home-fourth ">
    <div class="col-12  text-center title mt-lg-5">
        {{fourthTitle}}
    </div>
    <div class="desc my-lg-3 col-lg-8  text-lg-left offset-lg-2">
        {{fourthDesc}}
    </div>
    <div class="col-12 mb-lg-2">
        <div class="row my-lg-4">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-7 align-self-center ">
                <ul>
                    <li >
                        <img [src]= "forImage + '/assets/images/tick-inside-circle.svg'" class="col-1" />
                        Create new scenarios from scratch or by combining existing steps
                    </li>
                    <li class="my-lg-4">
                            <img [src]= "forImage + '/assets/images/tick-inside-circle.svg'" class="col-1" />
                            Publish and share your scenarios with your peers 
                    </li>
                    <li>
                            <img [src]= "forImage + '/assets/images/tick-inside-circle.svg'" class="col-1" />
                            Ensure a better visibility and reliability of your research methodologies 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 text-center mb-lg-5">
        <a href="https://github.com/ParthenosWP4/SSK"  target="_blank">
            <button type="button" class="btn  my-5  btn-sm github">
                    <i class="fa fa-github pull-right fa-inverse fa-2x ml-3" aria-hidden="true"></i>
                  <span class="py-lg-4">Check our github!
                 
                </span>
                </button>
        </a>
    </div>

  </div>
<div class="row text-center my-lg-5">
    <div class="col ">
        <a href="http://www.parthenos-project.eu/" target="_blank"><img [src]= "forImage + '/assets/images/parthenos2.png'"  /></a>
    </div>
    <div class="col">
            <a href="https://www.huma-num.fr/" target="_blank"><img [src]= "forImage + '/assets/images/huma-Num.svg'" /></a>
    </div>
    <div class="col">
            <a href="https://www.dariah.eu/" target="_blank"><img [src]= "forImage + '/assets/images/Dariah_EU.svg'"  /></a>
    </div>
</div>
