@import '../../../partials/variables';


.tab-pane{
    background: $color-3;
}
.nav-tabs .nav-link{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: unset !important;
    font-family: $raleway-regular !important;
    color:$color-24 !important;
   cursor: pointer;
  }
  
  a.nav-link.pull-left.active{
    border-bottom: 5px solid $color-47 !important;
    background-color: transparent !important;
    color: $color-47 !important;
    font-weight: bold;
  }
  
  ul li a {
    font-size: 26px ;
    text-transform: capitalize;
  }
  
  ul li a:hover{
    border-bottom: 5px solid $color-47 !important;
    color: $color-47 !important;
    font-weight: bold;
  }