<div class="tab" >
<div class="row home">
    <div class="col-lg-12  " >
        <ul class="nav nav-tabs  nav-fill mx-lg-5" role="tablist"  >
          <li *ngFor=" let item   of tabList"  class="nav-item " >
            <a class="nav-link pull-left" [ngClass]="(item.identiifer == active) ? 'active':''" data-toggle="tab"  [attr.data-target]="'#'+ item.identiifer + '-tab'"  (click)="toggle(item)" >
              {{item.label}}
            </a>
          </li>
        </ul>
    </div>
 </div>
 <div   class=" row tab-pane " id="general-tab"  [ngClass]="(active === 'general') ? 'active':''">
    <app-resource-card   *ngFor="let res of generalRes"  [res]="res" [border]="border"></app-resource-card>
  </div>
  <div class="row tab-pane  " id="project-tab"  [ngClass]="(active === 'project') ? 'active':''">
     <app-resource-card   *ngFor="let res of projectRes"  [res]="res" [border]="border"></app-resource-card>
  </div>

</div>