
@import '../../../partials/variables';

.glossary-menu-item {
  color: #64B9D8;
  font-size: 20px;
  font-family: $raleway-medium;
  text-transform: uppercase;
  cursor: pointer;
}

.ic{
  font-size: 3em;
}

ul {
  list-style-type: none !important;
}


