  <div class=" row bg-info py-3 " >
    <div class="col-12 ml-4">
      <span class="mr-5 align-middle" > <img class="card-img-top" [src]="'../../assets/images/' + item + '.svg'" alt="Card image cap"></span>
      <span class="align-middle title">{{item}}</span>
    </div>
  </div>
  <div class="row home">
      <p class="item-desc m-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>

  <div class="w-100"></div>
  <div class="col-8">
      <ul>
        <li  *ngFor = "let elt of data">
          <i class="fa fa-play" aria-hidden="true"></i>
          {{elt}}
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-code fa-stack-1x fa-inverse"></i>
          </span>
        </li>
      </ul>
  </div>
  <div class="col">
       <app-right-menu [current]="item" (itemChanged)="itemChangedHandler($event)"></app-right-menu>
  </div>
  </div>
