
@import '../../../partials/variables';

.card-img-top{
  max-height: 50px ;
}

.title {
    font-family: $roboto-regular;
   text-transform: capitalize;
  font-size: 30px;
  color: $color-3;
}

.item-desc{
  font-family: $roboto-light;
  font-size: 21px;
  color: $color-16;
}

.fa-lg {
  font-size: .75em !important;
}

[data-toggle="collapse"] .fa-open:before {
   content: "\f0a4";
}

[data-toggle="collapse"].collapsed .fa-open:before {
  content: "\f0a7";
}

[data-toggle="collapse"] .fa-sub:before {
  content: "\f04b";
}
.fa-sub:before{
  content: "\f04b";
}

[data-toggle="collapse"].collapsed .fa-sub:before {
  content: "\f04b";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.head{
  font-family: $raleway-medium;
  text-transform: capitalize;
  color: #64B9D8;
  font-size: x-large;
}

.item{
  font-family: $raleway-medium;
  text-transform: capitalize;
  font-size: 1 rem;
}
.collapse {
  font-family: $roboto-light;
}
.btn {
  cursor: pointer;
}
ul {
  list-style-type: none !important;
}

.fa-play{
  font-size: 0.7rem !important;
}

.block{
  padding-top: 2rem;
}

.block-2{
  padding-top: 4rem;
}

.current{
  color: $color-47;
  font-weight: bold;
}
