  <div class=" row bg-info py-3 " >
    <div class="col-12 ml-4">
      <span class="mr-5 align-middle" > <img class="card-img-top" [src]="'./assets/images/' + item + '.svg'" alt="Card image cap"></span>
      <span class="align-middle title">{{item}}</span>
    </div>
  </div>
  <div class="row home">
      <p class="item-desc m-5">

      </p>

  <div class="w-100"></div>
  
  <div class="col-8">
      <div class=" col-8 mx-auto text-center" *ngIf="spinner">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
      <ul>
        <li  *ngFor = "let elt of data; let k = index">
          <span *ngIf="elt?.standard_abbr_name" class="btn" data-toggle="collapse" [attr.data-target]="'#' + trim(elt?.standard_abbr_name)" aria-expanded="false" [attr.aria-controls]="elt?.standard_abbr_name">
           
            {{elt?.standard_abbr_name}}
          </span>
          <span *ngIf="elt?.head" class="btn head" data-toggle="collapse" [attr.data-target]="'#' + trim(elt?.head)" aria-expanded="false" [attr.aria-controls]="elt?.head">
            <i class="fa fa-open fa-1x" aria-hidden="true"></i>
            {{elt?.head}}
          </span>
         
          <span *ngIf="elt?.term" class="item">  <i class="fa fa-sub mr-1" aria-hidden="true"></i>{{elt?.term}}</span>

        <ul *ngIf="elt?.items">
         <div *ngIf="elt?.head" [attr.id]="trim(elt?.head)" class="collapse mb-2 show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{elt?.desc}}
          </div>
         
          <li class="ml-3" *ngFor = "let item of elt?.items; let i=index">
            <span *ngIf="elt?.head" class="btn" data-toggle="collapse"  class="item" [attr.data-target]="'#' + trim(item?.term)" aria-expanded="false" [attr.aria-controls]="elt?.head">
            <i class="fa fa-sub" aria-hidden="true"></i></span>
            {{item?.term}}
            <!-- <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
             <i class="fa fa-code fa-stack-1x fa-inverse"></i>
            </span>-->
            <div *ngIf="item?.term" [attr.id]="trim(item?.term)" class="collapse mb-2 ml-5" [ngClass]="(i == 0) ? 'show' : ''"   aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                {{item?.desc}}
              </div>
            </div>
          </li>
        </div>
        </ul>
         <!-- <span *ngIf=" elt?.term || elt?.standard_abbr_name" class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-code fa-stack-1x fa-inverse"></i>
          </span>-->
          <div *ngIf="elt?.standard_abbr_name" [attr.id]="trim(elt?.standard_abbr_name)" class="collapse mb-2 ml-5"  [ngClass]="(k == 0) ? 'show' : ''"  aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{elt?.standard_desc_eng}}
            </div>
          </div>
        </li>
      </ul>
  </div>
  <div class="col">
       <app-right-menu [current]="item" (itemChanged)="itemChangedHandler($event)"></app-right-menu>
  </div>
  </div>
