/* You can add global styles to this file, and also import other style files */

@import './partials/mixins';
@import './partials/variables';


@font-face {
  font-family: 'icomoon';
  src:  url('./assets/icomoon/fonts/icomoon.eot?1y86zq');
  src:  url('./assets/icomoon/fonts/icomoon.eot?1y86zq#iefix') format('embedded-opentype'),
  url('./assets/icomoon/fonts/icomoon.ttf?1y86zq') format('truetype'),
  url('./assets/icomoon/fonts/icomoon.woff?1y86zq') format('woff'),
  url('./assets/icomoon/fonts/icomoon.svg?1y86zq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src:  url('../node_modules/font-awesome/fonts/fontawesome-webfont.eot?1y86zq');
  src:  url('../node_modules/font-awesome/fonts/fontawesome-webfont.eot?1y86zq#iefix') format('embedded-opentype'),
  url('../node_modules/font-awesome/fonts/fontawesome-webfont.ttf?1y86zq') format('truetype'),
  url('../node_modules/font-awesome/fonts/fontawesome-webfont.woff?1y86zq') format('woff'),
  url('../node_modules/font-awesome/fonts/fontawesome-webfont.svg?1y86zq#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src:  url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $roboto-regular;
  src:  url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src:  url('./assets/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src:  url('./assets/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src:  url('./assets/fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src:  url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adventure';
  src:  url('./assets/fonts/Adventure.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Italic';
  src:  url('./assets/fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src:  url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova-Regular';
  src:  url('assets/fonts/Proxima-Nova-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src:  url('assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Animeace2_ital';
  src:  url('assets/fonts/animeace2_ital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adventure';
  src:  url('assets/fonts/Adventure.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir_Next';
  src:  url('assets/fonts/AvenirNextLTPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir_Next_UL';
  src:  url('assets/fonts/AvenirNext-UltraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  overflow-x: hidden !important;
}

.ic {
  display: inline-block;
  font: normal normal normal 16px/1  icomoon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ssk-pdf:before {
  content: "\e92d";
}

.ssk-handshake:before {
  content: "\e91a";
}

.ssk-openbook:before {
  content: "\e922";
}


.ssk-webpage:before {
  content: "\e931";
}

.ssk-thumb:before {
  content: "\e932";
}

.ssk-create:before {
  content: "\e90d";
}

.ssk-home:before {
  content: "\e90f";
}

.ssk-chat:before {
  content: "\e911";
}

.ssk-file:before {
  content: "\e913";
}
.ssk-settings:before {
  content: "\e94c";
}

.ssk-padlock:before {
  content: "\e94d";
}

.ssk-explore:before {
  content: "\e90e";
}



.ssk-France:before {
  content: "\e914";
}
.ssk-England:before {
  content: "\e933";
}
.ssk-Germany:before {
  content: "\e917";
}
.ssk-Spain:before {
  content: "\e94e";
}
.ssk-Netherlans:before {
  content: "\e91e";
}
.ssk-Italy:before {
  content: "\e91b";
}

.ssk-login:before {
  content: "\e900";
}
.ssk-resources:before {
  content: "\e92f";
}
.ssk-projects:before {
  content: "\e92e";
}

.search-div {
  top:0px;
  position:fixed;
}

/* Glossary's icons*/
.ssk-standards:before {
  content: "\e930";
}
.ssk-activities:before {
  content: "\e910";
}

.ssk-techniques:before {
  content: "\e931";
}
.ssk-objects:before {
  content: "\e921";
}
.ssk-disciplines:before {
  content: "\e912";
}

/*contribute icons*/
.ssk-contribute:before {
  content: "\e923";
}
.ssk-quotes:before {
  content: "\e901";
}
.ssk-trash:before {
  content: "\e902";
}
.ssk-institution:before {
  content: "\e903";
}
.ssk-userin:before {
  content: "\e904";
}
.ssk-info:before {
  content: "\e905";
}
.ssk-toparthenos:before {
  content: "\e906";
}
.ssk-bookopen:before {
  content: "\e907";
}
.ssk-quality:before {
  content: "\e908";
}
.ssk-ccby:before {
  content: "\e909";
}

.ssk-cc:before {
  content: "\e90b";
}







.home {
  background-color: $color-33;
}

.breadcrumb {
  background-color: transparent !important;
}

.bg-info{
  background-color: $color-33;
}


.cookie-law .cookie-law-wrapper{
  font-family: $roboto-regular !important;
  //padding: 0rem 17rem;
  text-align: center;
}
#sskCookieLaw{
  a{
    color: $color-39;
  }
  font-weight: 200 !important;
  font-family: $roboto-regular !important;
}

.tag{
  font-family: $avenir-next;
  font-size: 0.8rem;
  border-radius: 18px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
  cursor: pointer;
}

.discipline{
  color: $color-49;
  border: 1px solid $color-49;
  
}
.technique{
  color: $color-50;
  border: 1px solid $color-50;
}

.object, .objects{
  color: $color-51;
  border: 1px solid $color-51;
}
 .standard{
  color: $color-52;
  border: 1px solid $color-52;
}
.activity, .activitie{
  color: $color-53;
  border: 1px solid $color-53;
}

.tagClass{
  text-decoration-line: underline;
  text-decoration-color: $color-3;
  font-family: $roboto-medium;
  text-transform: capitalize;
}

.tagSearchClass{
  text-align: left !important;
  font-family: $avenir_next_ul;
  font-size: 0.7rem;
}


div.popover{
  max-width: 800px !important;
  width: 325px !important;
  font-family: $avenir-next;
  color: $color-40;
  img.main{
    width: 53px;
    height: 53px;
  }
  .author{
    font-size: 1.2rem;
  }
  span.affiliation{
    color: $color-48;
    font-size: 1rem;
  }
  .contribution{
    font-size: 0.8rem;
  }
  a{
    color:$color-47 !important;
    font-style: italic;
  }

}

.tooltip-inner {
  background-color: black;
  text-align: left !important;
}

.tag-info{
  .tooltip-inner {
    background-color: $color-47 !important;
    text-align: left !important;
    font-family: $avenir_next_ul; 
    font-size: 1.3rem;
  }
  .tooltip-inner:before {
    border-top-color: $color-47 !important;
  }
  
}

@media (max-width: 576px) {
  .part-text{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .searchTab{
    display: none;
  }
  
  ul li a{
    font-size: .85rem !important;
  }
  .nav{
    padding-top: 1.5rem;
  }
  div.input-group{
    padding: 0 !important;
  }
  #sskSearch{
    max-width: 100% !important;
  }
  .text-left{
    font-size: .8rem !important; 
    padding: 1rem;
  }
}

ngb-typeahead-window.dropdown-menu{
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.50);
  display: block !important;
  padding: 0 !important;
  width: inherit;
  left: 0px !important;
  .dropdown-item {
    width: inherit;
    display: block;
    width: 100%;
    padding-bottom: .5rem;
    padding-top: 0.5rem;
    clear: both;
    font-weight: normal;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
  }
  .dropdown-item:hover{
    background-color: $color-36;
  }
}

span.twitter-typeahead{
  width: inherit !important;
  
}

div.tt-menu.tt-open{
  font-family: $roboto-regular !important;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.50);
  display: block !important;
  width: inherit;
  background-color: $color-3;
  margin-top: 1rem;
  border-radius: 0.5rem;
  .group{
    padding: .5rem .5rem 0rem .5rem;
    font-family: $avenir_next;
    color: $color-47;
    border-bottom: 1px  solid $color-36;
    font-weight: bold;
  }
}
div.tt-suggestion.tt-selectable {
  font-family: $roboto-regular !important;
  width: inherit;
  display: block;
  width: 100%;
  padding-bottom: .5rem;
  padding-top: 0.5rem;
  clear: both;
  font-weight: normal;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  padding-left: 1rem;
  .fa-tag{
    margin-right: 0.5rem;
  color: $color-48;
  font-size: 1.2rem;
  }
}

div.tt-suggestion.tt-selectable:hover{
  background-color: $color-36;
}
div.tt-suggestion.tt-selectable.tt-cursor{
  background-color: $color-36;
}
.strong{
  font-size: 1.2rem;
  font-weight: bold
}

ins{
  text-decoration: none;
}
span.url{
  overflow-wrap: break-word;
  text-decoration: underline;
  color: $color-44;
  cursor: pointer;
  :hover{
    text-decoration: underline;
   color: $color-44;
   opacity: 0.5;
  }
}

mc-breadcrumbs{
  width: 100% !important;
}

ol.breadcrumb {
   background-color: $color-55 !important;
    margin-bottom: 0.21rem !important;
   border-radius: 0 !important;
   -moz-box-shadow:   0 1px 4px 0 $color-48 !important;
  -webkit-box-shadow: 0 1px 4px 0  $color-48 !important;
  box-shadow:        0 1px 4px 0  $color-48 !important;
}


