
<div class="card  mr-3 my-5 ">
  <div class="title">
    {{step?.title}}
    <!-- Last updated: {{step?.lastUpdate | amTimeAgo}}-->
  </div>
  <div class="row vdivide mb-2" *ngFor ="let item of step.parents">
    <div class="col"  >
      <a [href]="'#/scenarios/' + item?.id ">{{getScenarioTitle(item?.id)}}</a>
    </div>
    <div class="col mx-auto">
      <a  class="btn btn-step" [href]="'#/scenarios/' + item?.id  +'/'+ (item?.position + 1)">
        Step {{item?.position + 1}}
      </a>
    </div>
  </div>
  <div class="descmt-2 mb-3" [innerHTML]="step?.description">
  </div>
  <p>
      <span class="tag my-1  mr-2 py-1" [ngClass]="((elt?.type === undefined) || ((elt?.type).indexOf('standard') !== -1) ) ? 'standard' : elt?.type"
        *ngFor=" let elt of step?.metadata; let k = index"  
        tooltip="{{((elt?.type === undefined) || ((elt?.type).indexOf('standard') !== -1) ) ? 'standard' : elt?.type + ' - Tadirah'}}"
         containerClass="tagClass" >{{elt?.key}}{{elt?.abbr}}</span>
    </p>
</div>
