<div class="row home">
    <div  class="close" data-dismiss="modal" aria-label="Close" (click)= "closeModal()">
        <img class="m-3" [src]="forImage + '/assets/images/closeModal.svg'" />
    </div>
    <div class="tab" >
        <ul class="nav nav-tabs  nav-fill " role="tablist"  >
          <li class="nav-item " *ngIf="(generalRes?.length > 0)" >
            <a class="nav-link pull-left " [ngClass]="(active == 'general' ) ? 'active':''" data-toggle="tab" target="#general-tab"  (click)="toggle('general')" >
             General resources
            </a>
          </li>
          <li   class="nav-item " *ngIf="(projectRes?.length > 0)"  >
              <a class="nav-link pull-right " [ngClass]="(active == 'project') ? 'active':''" data-toggle="tab" target="#project-tab"  (click)="toggle('project')" >
                  Project-specific Resources
              </a>
            </li>
        </ul>
    </div>
   
 </div>

 <div   class=" row tab-pane " id="general-tab"  [ngClass]="(active === 'general') ? 'active':''" *ngIf="(active === 'general')">
    <p class="text-center my-4 mx-auto resDesc">General resources are made of primary documentation, guidelines and tools.</p>
        <div class="col-lg-12">
                <div class="ml-3 py-2">
                        <div class="numberCircle" [ngClass] = "( position > 9 ) ? 'styleNumber' : ''">{{ position}}</div>
                        <span class="stepTitle ml-2">
                            {{step?.title}}
                         </span>
                </div>
        </div>
        <div class="scroll">
            <div class="col-lg-12">
                <app-resource-card  *ngFor="let res of generalRes"  [res]="res" [border]="border"></app-resource-card>
             </div>
        </div>
   
  </div>
  <div class="row tab-pane  " id="project-tab" *ngIf="(projectRes !== undefined) && (active === 'project')" [ngClass]="(active === 'project') ? 'active':''">
      <p class="text-center my-4 mx-auto resDesc">Project-specific resources point to real use cases where a similar task was carried out.</p>
          <div class="col-lg-12">
              <div class="ml-3 py-2">
                      <div class="numberCircle" >{{ position}}</div>
                      <span class="stepTitle ml-2">
                          {{step?.title}}
                       </span>
              </div>
      </div>
     
      <div class="scroll">
        <div class="col-lg-12">
            <app-resource-card   *ngFor="let res of projectRes"  [res]="res" [border]="border"></app-resource-card>
        </div>
    </div>
    </div>