.tags {
    background-color: #636c72;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}


.input-data{
    display:  inline-flex;
    width:100%;
 }

 label{
    width:150px;
    font-size: 1rem;
    font-weight: 700;
}


.info {
    width: 1.0rem;
}

.exclamationIcon {
    vertical-align: top;
    width: 1.0rem;
    padding-top: 0px;
}


.dropdown {
    width: 504px;
}

.dropdown-menu-standards {
    background-color: #F5F6F6;
    overflow: auto;
    height:350px;
}

.dropdown-toggle::after {
    margin-left: 6.3em;
}

div.dropdown-menu-standards ul {
    border-bottom: 0px;
}

#dropdownMenuLink {
    background-color: white;

}

#dropdownMenuLink, .dropdown-menu-standards {
    width: 420px; 
    border-radius:0rem;
}


.dropdown-toggle::after {
    margin-left: 270px;
}

.standards-list {
    list-style: none;
}


.search-tag-input {
    display: flex;
} 