<div>
    <label for="input_standard_link" class="mt-3 col-form-label pl-0">{{ item_type }}
      <span class="info-span">
        <img class="exclamationIcon info" [src]="exclamationIcon">
      </span>
    </label>
</div>

<div class ="tags-container" *ngIf="item_type != 'Resource(s) :'">
    <span  id ='spanTag-{{ i }}' class='tags mr-3 px-2' *ngFor="let tag of tagList; let i = index;">
      <i  aria-hidden="true" class="fa fa-times" id='deleteTag-{{ i }}' (click)="deleteTag(i, tag )"></i>
        {{ tag }}
    </span>
    <p *ngIf="item_type == 'Resource(s) :'" >Resources LINK </p>
</div> 

<div class ="tags-container" *ngIf="item_type == 'Resource(s) :'" >
    <p  class='mr-3 px-2' *ngFor="let tagItem of staticTagList; let i = index;">
      <i  aria-hidden="true" class="fa fa-times" id='deleteTag-{{ i }}' (click)="deleteTag(i, tagItem )"></i>
      <a href= "{{tagItem}}" target="_blank">{{tagItem}}</a>
    </p>
</div> 

<div *ngIf="item_type == 'Tags(s) :'" class="col-sm-6 select-standards-container ml-5">
  <p class="select-between-standards">{{ standardsSelection }}</p>
      <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle col-sm-10" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left standard-options">Standards Tags</span>
            </a>
            <div class="dropdown-menu pr-3 dropdown-menu-standards" aria-labelledby="dropdownMenuLink">
                <div>
                    <ul class="standards-list">
                        <li class="search-tag-input">
                          <input type="text" class="form-control"  (keyup)="standardsSearchFilter()" id="standard-input-search" placeholder="Search for standards tags"/>
                          <button (click)="addTag()" class="add-standard-tag"  disabled> {{ add_button_type }} </button >
                        </li>

                        <li class="pt-2" *ngFor="let standards of standardsList;" (click) = 'checkboxes()'>
                            <a>{{ standards }}</a>
                            <input class="pull-right checkbox" type="checkbox" onchange="change_checkbox(this)"/>
                        </li>
                    </ul>
                </div>
            </div> 
      </div>
</div>

<input *ngIf="item_type == 'Resource(s) :'" class='mt-3'  id="newTag"  [(ngModel)]="tag" (keyup.enter)="addTag()" placeholder=" Ex : ">
<!--<input *ngIf="item_type == 'Type(s) :'" class='mt-3'  id="newTag"  [(ngModel)]="tag" (keyup.enter)="addTag()" placeholder=" Ex : ">-->

<button *ngIf="item_type == 'Resource(s) :'" (click)="addTag()" class="mt-3"> {{ add_button_type }} </button >


