

 <nav class="navbar navbar-fixed-top row " align="center">
  <div class="col-md-3 " align="center">
    <a routerLink="#"><img src="assets/prova_2-copia.png" class="logo-responsive" alt="Parthenos"></a>
  </div>
  <div  class="col-md-8 col-md-offset-1" align="center">
    <ul class="nav nav-pills " >
      <li  > <a routerLink="#"><i class="ic ssk-home" aria-hidden="true"></i>&nbsp;HOME</a></li>
      <li role="presentation "  > 
          <a routerLink="#" class = "dropdown-toggle" type = "button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"><i class="ic ssk-explore" aria-hidden="true" ></i>&nbsp;EXPLORE</a>
            <ul class="dropdown-menu">
                <li *ngFor=" let item of browseItems" [ngClass]="(item != 'scenarios') ? 'disabled':''"><a [routerLink]="'/'+item" >{{item}}</a></li>
  
            </ul>
        </li>
      <li  class="disabled" ><a routerLink="" ><i class="ic ssk-create" aria-hidden="true"></i>&nbsp;SCENARIO</a></li>
      <li  class="disabled" > <a href="#"><i class="ic ssk-partners " aria-hidden="true"></i>&nbsp;PARTNERS</a></li>
        <li > <a routerLink ="/contentlist"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Steps list</a></li>

      <li  > <a href="http://www.parthenos-project.eu/" target = '_blank'><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;MAIN SITE</a></li>
      <li   class="btn-group" > 
          
            <button class="inactive" type="button" class="btn btn-black"><i class="ic ssk-login" aria-hidden="true"></i>&nbsp;Log in</button>
            <button type="button" class="btn btn-black dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
             <span><img src="assets/images/united-kingdom.svg"  alt="england-flag"></span>
            </button>
            <ul class="dropdown-menu" >
              <li class="disabled" ><a href="#" > <img src="assets/images/france.svg"  alt="france-flag">&nbsp;FRANCE</a></li>
              <li class="disabled"><a href="#"> <img src="assets/images/germany.svg"  alt="germany-flag">&nbsp;deutch</a></li>
              <li class="disabled"><a href="#"> <img src="assets/images/italy.svg"  alt="italy-flag">&nbsp;italiano</a></li>
              <li class="disabled"> <a href="#"> <img src="assets/images/netherlands.svg"  alt="netherland-flag">&nbsp;nederlands</a></li>
              <li class="disabled" ><a href="#"> <img src="assets/images/spain.svg"  alt="netherland-flag">&nbsp;ESPAÑOL</a></li>
            </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
  
</nav>
<div class="content">
    <router-outlet></router-outlet>
</div>


<!--<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row footer_1">
      <div class="col-md-6 col-md-offset-1">
        <div class=" text col-md-6">
          PARTHENOS is a Horizon 2020 project funded by the European Commission.
          The views and opinions expressed in this publication are the sole responsibility of the author and do not necessarily
          reflect the views of the European Commission.
        </div>
        <div class="col-md-2 col-md-offset-1">
          <img src="assets/euflag.gif" class="logo-responsive" alt="Cinque Terre">
        </div>
      </div>
      <div class="col-md-4 ">
        <div  class="" align="center">
          <div  class="col-md-2" align="center">  About </div>
          <div  class="col-md-3" align="center">  Who we are </div>
          <div  class="col-md-3" align="center">  Contacts us </div>
          <div  class="col-md-2" align="center">  FAQs </div>
        </div>
      </div>
    </div>
  </div>
</footer>-->










