<div class="row  home">
    <div class="col-md-6">
        <h1>{{title}}</h1>
        <p>{{desc}}</p>
        <br/>
        <br/>
        <div class="btn-group" align="center">
            <button type="button" class="btn btn-browse btn-lg background-color dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                  {{browseBtn}} <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
            <ul class="dropdown-menu">
                <li *ngFor=" let item of browseItems" [ngClass]="(item != 'scenarios') ? 'disabled':''"><a [routerLink]="'/'+item" >{{item}}</a></li>

            </ul>
        </div>
    </div>
    <div class="col-md-6 " align="center">
        <img src="assets/images/circle.svg" alt="parthenos-logo" class="img responsive imgwrapper">
    </div>
</div>

<div class="row home-middle">
    <div class="head">
        <h1>
            <span *ngFor="let item of mediumTitle">{{item}} </span>
        </h1>
        <p *ngFor="let item of mediumDesc" [innerHTML]='item'></p>
        <div class="row box">
            <div class=thumbnail *ngFor="let item of thumbnails">
                <div class="col-sm-6 col-md-4">
                    <img [src]="item.img" alt="parthenos-logo" class="img responsive imgwrapper">
                    <div class=caption>
                        <h3>{{item.label}}</h3>
                        <p>{{item.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row last-part">
    <div class="col-md-10 col-md-offset-1">
        <h1 [innerHTML]='secondH'></h1>
    </div>
    <div class="inner">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 ">
                <div class="">
                    <img src="assets/images/iframe.png" alt="parthenos-logo" class="img responsive imgwrapper">
                </div>
            </div>
            <div class="col-md-6 " align="center">
                <p *ngFor="let item of homeLastParagraphs" [innerHTML] = 'item'></p>
            </div>
        </div>
    </div>