<sk-three-bounce *ngIf="resource.source"></sk-three-bounce>

<div  *ngIf="resource.key"  class="media res" (click)= 'redirect(resource.data.url)'> 
        <div *ngIf="resource.key" class="dot-line"><br></div>
            <div class="preview left-ref" *ngIf ="!resource.useThumbnail">
                    <iframe [src]="transform(resource.data.url)" ></iframe>
            </div>
            <div *ngIf = "resource.useThumbnail" class="left-ref">
                    <img  [src]="thumbnail"  alt="sub-resources-img">
            </div>
                <div *ngIf="resource.key" class="left-ref">
                    <span class="label label-default">{{resource.attr.type}}</span>
                    <span *ngIf="resource.term" class="label label-default">{{resource.term[0].attr.key}}</span>
                    <span  class="label label-default" *ngIf = "resource.data.itemType">{{resource.data.itemType}}</span>
                    <!--Here we have to query remote repository-->
                    <div class="resource">
                        <span class="elt-1">{{resource.meta.shortAuthors}}</span>
                        <span class="elt-2">{{resource.data.shortTitle}}</span>
                        <span class="elt-3">{{resource?.data.date}}</span>
                        <span class="elt-3" *ngIf="resource.data.language"> Language :{{resource.data.language}}</span>
                    </div>
                </div>
   
</div>