       
  <div class="row">
    <div class="starter-template">
        <h1> Standardized scenarios</h1>
        <p > This series of scenarios is intended for researchers from the Arts & Humanities who want to initiate a project
            and are unfamiliar with the digital standards used within their communities.By following one of these scenarios, you will be guided through all the necessary steps to carry out your project, using the most
        suitable standardized methods and resources.
        </p>
      </div>
  </div>

  <div class="row scenarios">
    <div class=".wide-gutter row" >
      <div class="col-md-4" *ngFor="let scenario of scenarios; let i = index" [id]="'div_' + i">
          <scenario [scenario] = 'scenario'></scenario>
      </div>
    </div>
  </div>

