<div class="row">
	<div class=" scenario-details ">
		<div  class=" col-md-7 pull-left">
			<h1>{{scenarioElt?.title?.en}}</h1>
			<i class="fa fa-bookmark-o fa-3x" aria-hidden="true"></i>
			<br>
			<p>	{{scenarioElt?.desc?.en}}</p>
		</div>
		<div  class="col-md-5 ">
				<img [src]="scenarioElt.urlImage" class="" alt="EAD"> 
		</div>
	</div>
</div>  
<div class="row">    
	<div class="scenario-details">
		<div class="cd-horizontal-timeline">
			<div class="timeline">
				<div class="events-wrapper">
					<div class="events" [ngStyle]= "{width: timelineTotWidth + 'px'}">
						<ol >
							<li *ngFor="let step of scenarioElt.steps; let i = index">
								<span  (click)="updateContent(step, i, $event)" [ngStyle]="{left: ((i+1) *left) + 'px'}" [ngClass]="(i==idSelectedStep)? 'selected':''">{{i+1}}
										<ins  [ngClass]="(i==idSelectedStep)? 'selected-step':''">{{step?.head?.en}}</ins>
								</span>
							</li>
						</ol>		
						<span class="filling-line" [ngStyle]="{transform:'scaleX(0.16)'}" aria-hidden="true" ></span>
					</div> <!-- .events -->
				</div> <!-- .events-wrapper -->
				<ul class="cd-timeline-navigation">
					<li><span (click)="updateSlide(timelineComponents, timelineTotWidth, 'prev')" class="prev inactive">&nbsp;<i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></span></li>
					<li ><span  (click)="updateSlide(timelineComponents, timelineTotWidth, 'next')"  class="next" >&nbsp;<i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i></span></li>
				</ul> <!-- .cd-timeline-navigation -->
			</div> <!-- .timeline -->
		</div>
		<br/>
		<br/>
		<div class="events-content">
			<div class="row">
				<span class="my-badge">{{selectedStep.id}}</span>
				<span class="step-title">{{selectedStep?.head?.en}}</span>
			</div>
			<div class="row" >
				<step-resources *ngIf = "selectedStep?.ref"  [stepContent] = "selectedStep"></step-resources>
			</div>
		</div>
	</div>
</div>
