<sk-cube-grid *ngIf="stepContent.completedDesc !== true"></sk-cube-grid>
<div class="col-md-12" *ngIf="stepContent.completedDesc == true">
    <p class="step-desc">{{stepContent?.desc?.en}}</p>
    <div class="head-terms">
        <p> <span *ngFor="let item of stepContent?.headTerms; let i =index" [ngClass]="((stepContent.headTerms[i].attr?.type)=='activity')? 'green':'red'">
            {{item?.attr.key}}
            <i class="fa fa-tag" aria-hidden="true"></i>
        </span></p>
    </div>
    <p *ngIf="!stepContent.desc">&nbsp;</p>
    
    <div *ngIf="stepContent?.resources?.generals" [ngClass]="isObjectEmpty(stepContent.resources.projects) ? 'col-md-12':'col-md-6'">
        <i class="ic icon-general_resources fa-2x" aria-hidden="true"></i><span class="resources">General resources</span>
        <div class="sub-resources" *ngIf="stepContent.resources">
            <div *ngFor="let item of stepContent?.resources?.keys.generals">
                <span class="title" data-toggle="collapse" data-target="#demo">
                    {{item}}<i class="fa fa-play fa-rotate-90" aria-hidden="true" ></i>
                </span>
                <div id="demo" class="collapse" *ngFor="let elt of stepContent.resources.generals[item]; let j=index" class="inner" [ngClass]="j==stepContent.resources.generals[item].length-1? 'bottom':''">  
                        <resource   [resource] = "elt"></resource>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="stepContent.completed == true && !isObjectEmpty(stepContent.resources.projects)"  [ngClass]="!isObjectEmpty(stepContent.resources.projects) ? 'col-md-6':''">
        <i class="ic icon-project fa-2x" aria-hidden="true"></i><span class="resources">Projects-specific resources</span>
        <div class="sub-resources">
            <div *ngFor="let entity of stepContent.resources.keys.projects">
                <span class="title">
                        {{entity.elt}}<i class="fa fa-play fa-rotate-90" aria-hidden="true"></i>
                    </span>
                <div  *ngFor="let item of stepContent.resources.projects[entity.elt]; let i=index" class="inner" [ngClass]="i==stepContent.resources.projects[entity.elt].length-1 ? 'bottom':''">  
                    <resource   [resource] = "item"></resource>
                </div>
            </div>
        </div>
    </div>