<div class="research pl-lg-2 pt-lg-2 ">
  <span class="research-title">
    filter by
  </span>
  <div>
      <div class=" col-8 mx-auto text-center" *ngIf="getSpinner()">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
      <div *ngIf="!getSpinner()">
    <div class=" mt-lg-3 elt-tab" *ngFor="let item of tags"  >
      <span class="mx-lg-3 group mb-lg-2"    [attr.data-target]="'#' + item"   [ngClass]="item?.name.substring(0, item?.name.length - 1)">
        {{item?.name}}  
      </span>
      <span class="tagTitle" data-placement="right" tooltip="{{item.tooltip}}" containerClass="tagSearchClass" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

      <div [id]="item?.name" class=" show mx-lg-3" role="tabpanel">
        <div class="form-check"  *ngFor="let elt of data[item?.name];">
            <div  *ngIf="(item?.name === 'activities');"  class="my-2">
                <span class="my-5">{{objectKeys(elt)[0]}}<img  [src]= "forImage + '/assets/images/Shape.svg'" class="ml-3" alt="int_dot"/></span><br>
            <div *ngFor="let activity of  elt[objectKeys(elt)[0]]" class="">
                <label class="form-check-label ml-3">
                    <input type="checkbox" [attr.name]="normalize(activity?.filter)"
                           [id]="activity?.filter"
                           class="form-check-input" (change)="change($event, activity)" > {{normalize(activity?.filter)}}
                           <span *ngIf= "activity?.count" class= "scenarioCount"  [ngClass]="item?.name.substring(0, item?.name.length - 1)"  [innerHTML]="'('+activity?.count+')'"></span>
                  </label>
                </div>
              </div>
           
          <label class="form-check-label" *ngIf="(item?.name !== 'activities') ">
            <input type="checkbox" [attr.name]="elt?.filter"
                   [id]=" elt?.filter"
                   class="form-check-input"(change)="change($event, elt)"> {{normalize(elt?.filter)}}
                  <span *ngIf="elt?.count" class= "scenarioCount"  [ngClass]="item?.name.substring(0, item?.name.length - 1)"  [innerHTML]="'('+elt?.count+')'"></span>
          </label>
        
        </div>
      </div>
      <div class="col-xs-12" style="height:50px;"></div>
  </div>
  </div>
    </div>
  </div>
