
    <div class="block">
      <sk-rotating-plane [hidden]="scenarioElt.title"></sk-rotating-plane>
      <a [routerLink]="['/scenario',scenarioElt.id]"   *ngIf="scenarioElt.title">
        <div class="title" > <i class="ic icon-sskhome" aria-hidden="true"></i> 
          {{scenarioElt.title}}</div>        
          <!--<img src="../assets/multispectral_imaging.png" *ngIf="scenarioId==0"  alt="Cinque Terre">-->
          <img src="../assets/multispectral_imaging.png"   alt="{{scenarioElt.title}}">
        <p >{{scenarioElt.desc}}</p>
      </a>
    </div>