<div class="grey-background row ml-0">
        <div class="row m-md-3 m-lg-3 mb-sm-5 head">
                <div class="container-title-tag-picture-text mt-5 ml-4">
                        <div class=" picture-tag-container col-sm-12 col-lg-4 ">
                                <div class=" row  scenarioImageTags">
                                        <span class="image-wrapper">
                                                <img class=" img-fluid m-sm-2 picture" src={{scenarioElt?.image}} />
                                        </span>

                                        <ng-container *ngFor=" let item of tagsLabel; let m = index">
                                                <p *ngIf="scenarioTags[changeTag(item)] !== undefined">
                                                        <span class="tag my-1  mr-2 py-1" [ngClass]="elt?.type" *ngFor=" let elt of scenarioTags[changeTag(item)]; let k = index"
                                                                tooltip="{{elt?.type +  '-'+ elt?.source  }}"
                                                                containerClass="tagClass">{{tagShow(elt)?.key}}</span>
                                        </ng-container>
                                </div>
                        </div>
                        <div class="row ml-lg-1 headScenario">
                                <div class="col-sm-12 title mt-3 stitle" [innerHtml]="scenarioTitle">
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm-12 my-2 authors authors-container ">
                                        <span *ngFor="let author of scenarioElt?.author; let j=index">
                                                <span *ngIf="j <= (scenarioElt?.author?.length - 1) && j>0">,</span>
                                                {{author?.persName}}</span>
                                        <!--<<div class="author " *ngFor=" let author of scenario?.author; let j=index">
                        ng-template  #authorPop >
                                <div class="row" >
                                        <div class="col-3">
                                        {{author.persName}}
                                        </div>
                                        <div class="col">
                                        {{author.affiliation}}
                                </div>
                                <div class="col-1">
        1
                                </div>
                                </div>
                        </ng-template>
                        
                        <span  class="pop" data-container="body" data-toggle="popover" data-placement="top"  triggers="click"
                        [attr.data-content]='"<div class=\"row\"><div class=\"col-3\"><img  src= "+forImage + "/assets/images/usertooltip.svg class=\"pull-right img-fluid main\" ></div><div class=\"col author\">
                                "+author.persName+" <br> <span class=\"affiliation\">"+ author.affiliation+"</span></div></div>
                                </div>"'
                                data-original-title="" title="">
                                <span *ngIf = "j <= (scenario?.author?.length - 1) && j>0">,</span>
                                {{author?.persName}}
                        </span>
                        </div>-->
                                </div>
                                <div class="w-100"></div>
                                <!-- lien  vers github -->
                                <div class="col-sm-12 col-md-12 col-lg-4 mt-1 icon-update-container">
                                        <span (mouseout)="githubIcon = 'github-logo'" (mouseover)="githubIcon = 'github_hover'"
                                                class=" mr-2" data-toggle="tooltip" data-toggle="popover" data-content="popover content">
                                                <img class="p-2" [src]="forImage + '/assets/images/'+ githubIcon + '.svg'" />
                                        </span>
                                        <span (mouseout)="quoteIcon = 'quote'" (mouseover)="quoteIcon='quote_hover'"
                                                class=" ml-3" data-toggle="tooltip" data-toggle="popover" data-content="popover content">
                                                <img class="p-2" [src]="forImage + '/assets/images/'+ quoteIcon + '.svg'" />
                                        </span>

                                </div>
                                <div class=" col-sm-12 col-md-12  col-lg-5 align-text-bottom my-3 icon-update-container">
                                        <span *ngIf="scenarioElt?.lastUpdate" class="update-message">Last updated:
                                                {{scenarioElt?.lastUpdate | amTimeAgo}}</span>
                                </div>
                        </div>
                        <div class="col-sm-12 text-description-mobile" desc [innerHtml]="scenarioDesc">
                        </div>
                </div>
        </div>
        <!--  steps protocol timeline-->
        <div class=" col-10 mx-auto text-center" *ngIf="spinnerSteps">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <div *ngIf="!spinnerSteps">
                <div class="row timeline-container mt-sm-5">
                        <div id="timeline" class="ml-5">
                                <div class="timeline-item" *ngFor="let step of scenarioElt?.steps; let i = index ">
                                        <div class="row step-content">
                                                <div class="col-1 ml-lg-5 mr-sm-5 mr-md-0 ml-sm-0">
                                                        <div class="timeline-icon">
                                                                <p class="step-number" [ngClass] = "( i+1 > 9 ) ? 'styleNumber' : ''">{{ i+1}}</p>
                                                        </div>
                                                </div>
                                                <div class="col">
                                                        <div class="timeline-content mt-lg-2">
                                                                <div class=" row">
                                                                        <span class="stepTitle">
                                                                                {{getStepTitle(step)}}
                                                                        </span>
                                                                        <!--<span *ngFor="let tag of step.TagList" class="{{tag.cssTag}} tag mt-3 mb-3"
                                                                                tooltip="{{tag?.name}}" containerClass="tagClass">
                                                                                {{tag.name}}-->

                                                                        <span class="   desc">
                                                                                <ng-container *ngFor=" let item of tagsLabel; let m = index">
                                                                                        <p *ngIf="stepTags[changeTag(item)] !== undefined">
                                                                                                <span>
                                                                                                        {{item}}
                                                                                                        <img [src]="forImage + '/assets/images/interrogationDot.png'"
                                                                                                                class="pb-1"
                                                                                                                alt="Responsive image">
                                                                                                </span>
                                                                                                <span class="tag my-1  mr-2 py-1"
                                                                                                        [ngClass]="elt?.type"
                                                                                                        *ngFor=" let elt of stepTags[changeTag(item)]"
                                                                                                        tooltip="{{elt?.type +  '-'+ elt?.source  }}"
                                                                                                        containerClass="tagClass">{{tagShow(elt)?.key}}</span>
                                                                                                <!-- <button type="button" class="btn btn-secondary disabled m-1" *ngFor=" let elt of stepTags[changeTag(item)]?.slice(0,2)" tooltip ="{{'Type: '  +elt?.type +  ' | Source : '+ elt?.source  }}">{{tagShow(elt)?.key}} </button>
                                                                                                    <span  *ngIf = "stepTags[changeTag(item)]?.length > 2" class="collapsed text-center" data-toggle="collapse"  [attr.data-target]="'#tag' +m"  aria-expanded="false"> More ...</span>
                                                                                                  </p>
                                                                                                  <p *ngIf = "(stepTags[changeTag(item)] !== undefined) && stepTags[changeTag(item)]?.length > 2"  [attr.id]="'tag' + m" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                                                      <span class="tag my-1  mr-2 py-1" [ngClass] ="elt?.type"  *ngFor=" let elt of stepTags[changeTag(item)]?.slice(2, stepTags[changeTag(item)]?.length); let k = index"  tooltip="{{elt?.type +  '-'+ elt?.source  }}" containerClass="tagClass" >{{elt?.key}}</span>
                                                                                                    <button *ngFor=" let elt of stepTags[changeTag(item)]?.slice(2, stepTags[changeTag(item)]?.length)"  tooltip ="{{'Type: '  +elt?.type +  ' | Source : '+ elt?.source  }}"  type="button"  class="btn btn-secondary  m-1" >{{elt?.key}}  {{elt?.abbr}}</button>
                                                                                                  </p>-->
                                                                                </ng-container>
                                                                        </span>


                                                                        <div class="w-100"></div>

                                                                        <div class="stepDescription" [innerHTML]="stepDesc">

                                                                        </div>

                                                                        <div class="col-sm-12 col-md-12 pl-0">


                                                                                <a href="{{ step.button-check-ressources-src }}"
                                                                                        class="btn btnTimeline pl-0"
                                                                                        data-toggle="modal" data-target="#myModal">
                                                                                        <img class="my-3" src="{{ step.iconSrc }}">

                                                                                        {{step.buttonContent}}
                                                                                </a>
                                                                        </div>


                                                                </div>

                                                        </div>
                                                </div>
                                        </div>

                                </div>

                        </div>

                </div>
                <div class="col-sm-12 col-md-12 pb-5 nav-option">
                        <div class="col-12 d-flex justify-content-center">
                                <a href="#" class="btn btn-Back">Back to the scenarios</a>
                        </div>
                </div>
        </div>
</div>