
@import '../../partials/variables';

.card-deck {
    column-count: 3;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card{
  background-color: #64B9D8;
  border: none !important;
  line-height: 170px;
  cursor: pointer;
  .card-title {
    font-family: $raleway-medium;
    text-transform: uppercase;
    color: $color-3;
  }
}

a:hover{
  text-decoration: none !important;
}





