
<div class="row team">
        <div class=" presentationProjectTeam py-5" >
            <div class="col-12 text-center team-title mb-5 ">
                    <span class="">{{ contentProjectTeamPage[0].title }}</span>
            </div>
            <div class="col-10 mx-auto text-justify presentationText ">
                    <p class="">{{ contentProjectTeamPage[1].projectPresentationTextPart1 }}</p>
            </div>
           
            <div class="col-10 mx-auto text-justify presentationText">
                    <p class="">{{ contentProjectTeamPage[3].projectPresentationTextPart3 }}</p>
            </div>
        </div>

        <div class="behind-the-scene-part pb-5" >
            <div class = "col-12 ">
                <div class="text-center my-5">
                        <span class="mx-auto  team-title ">{{ behindTheSceneContent[0].behindTheSceneTitle }}</span>
                </div>
                    
                    <div class="pt-2 col-10 mx-auto text-justify presentationText ">
                            <p class="" [innerHTML] = "behindTheSceneContent[1].behindTheScenePresentationTextPart1"></p>
                    </div>
                   
            </div>
            <div class = "col-12">
        <div class=" d-flex  my-5 team-bio-part ">
                <div class="col-4 text-center " *ngFor="let teamMember of teamInfoMembersList; let i = index" [ngClass]= "((i+1) % 2  === 0) ? 'mx-1':''">
                        <img class="profile-image"  [src]= "forImage + '/assets/images/' + teamMember.profileImage" > 
                       
                        
               <span class="text-center my-2 author">
                    {{ teamMember.name}} <a *ngIf="teamMember.twitterLink !==''" [href]="teamMember.twitterLink" target="_blank">
                            <img class="twitter"  [src]= "forImage + '/assets/images/twitter.png'" >
                    </a>
               </span>
               <span class="text-center role  mb-2">
                    {{ teamMember.role}}
               </span>
               <span class="col-3 bio"> 
                    {{teamMember.bio}}
               </span>
                </div>
            </div>   
        </div>
        <div class=" d-flex my-5 team-bio-part">
                    <div class="col-4 text-center " *ngFor="let teamMember2 of teamInfoMembersList2; let i = index" [ngClass]= "((i+1) % 2  === 0) ? 'mx-1':''">
                                <img class="profile-image"  [src]= "forImage + '/assets/images/' + teamMember2.profileImage" > 
                                
                   <span class="text-center my-2 author">
                        {{ teamMember2?.name}}
                        <a *ngIf="teamMember2.twitterLink !==''" [href]="teamMember2.twitterLink" target="_blank">
                                <img class="twitter"  [src]= "forImage + '/assets/images/twitter.png'" >
                        </a>
                   </span>
                   <span class="text-center role  mb-2">
                        {{ teamMember2?.role}}
                   </span>
                   <span class="col-3 "> 
                        {{teamMember2?.bio}}
                   </span>
                    </div>
                    
                </div>
        </div>
</div>

