.css-fileDesc { background-color: lightgreen; }
.css-textDesc { background-color: rgb(144, 185, 238); }
.css-particDesc { background-color: rgb(216, 144, 238); }
.css-encodingDesc { background-color: rgb(238, 200, 144); }
.css-settingDesc { background-color: rgb(216, 144, 148); }
