<div  class="row data-account">
    <div class="col-lg-2 my-lg-5  offset-1 text-center">
        <div class ="  mx-auto">
            <img [src]="profilePicture" class="picture-profile">
            <div >
                <span  class="ml-3 editImg">Edit picture</span>
                <img class="align-middle  smallest mx-lg-2" [src]="editIcon2"> 
            </div>

        </div>
        
    </div>
    
    <div class="col-lg-7 my-lg-5 profile-head-right">
        <div id ="name" class="mb-2">
            <span class="align-middle mr-2"> Charles Riondet</span>
            <img class="align-middle" [src]="editIcon"> 
        </div>
        <div class="w-100"></div>
        <div id ="affiliation">
            <span class="align-middle mr-2">OEAW-ACDH</span>
            <img class="align-middle" [src]="editIcon2"> 
        </div>
        <div class="w-100"></div>
        <div id ="orcid-account-address" class="my-lg-3">
           <img class="align-middle" [src]="orcidIcon"> 
            <span class="mx-2 vcenter">https://orcid.org/0000-0001-5420-9596</span>
            <img class="align-middle small" [src]="editIcon"> 

        </div>
        <div class="w-100"></div>
        <div id ="orcid-account-address" class="">
            <img class="align-middle " [src]="emailIcon">
            <span class="mx-2 vcenter">Charles.Riondet@inria.fr</span>
            <img class="align-middle small" [src]="editIcon"> 
        </div>
        <div class="w-100 "></div>
        <div class="add-data mt-lg-5">
                <a class="add-button mr-4 p-lg-2"> 
                    <img class="mx-lg-2" [src]="addCircleIcon">
                    <span class="align-middle">
                        <a routerLink='/new-scenario' class="scenario-link"> ADD A SCENARIO </a> </span>
                </a>

                <a class="add-button mr-4 p-lg-2">  
                    <img class="mx-lg-2" [src]="addCircleIcon">
                    <span class="align-middle">
                        <a routerLink='/new-scenario' class="step-link"> ADD A STEP </a></span>
                </a>

                <a class="add-button p-lg-2">                 
                    <img class="align-middle mx-lg-2" [src]="addCircleIcon">
                   <span class="vcenter align-middle">
                       <a routerLink='/new-scenario' class="resource-link">  ADD A RESOURCE </a></span>
                </a>
        </div>
    </div>
</div>



<div class="row nav-row ">

    <div class="col-md-11 pl-5 pt-3 tab-container">
        <ul class="nav nav-pills pl-0 offset-4" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link pills-publication-tab active px-0" id="pills-publication-tab" data-toggle="pill" 
                    href="#pills-publication" role="tab" aria-controls="pills-publication" aria-selected="true">Publications()</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link pills-draft-tab px-0 ml-5" id="pills-draft-tab" data-toggle="pill" 
                    href="#pills-draft" role="tab" aria-controls="pills-draft" aria-selected="false">Draft()</a>
                </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-publication" role="tabpanel" aria-labelledby="pills-publication-tab">
                    <div class="row mt-4">
                            <div class="col-md-3 mt-5 text-info-draft-container">
                                    <p class="text-info-draft">{{ textPublication1 }}</p>
                                    <p class="text-info-draft">{{ textPublication2 }}</p>
                                    <p class="text-info-draft">{{ textPublication3 }}</p>
                            </div>
                            <div class="col-md-8">
                                <app-scenario-card  *ngFor="let scen of scenariosPublication" [scenario]="scen"></app-scenario-card>
                            </div>
                    </div>

                     
            </div>
            <div class="tab-pane fade" id="pills-draft" role="tabpanel" aria-labelledby="pills-draft-tab">
                <div class="row mt-4">
                        <div class="col-md-3 mt-5 text-info-draft-container">
                                <p class="text-info-draft">{{ textDraft1 }}</p>
                                <p class="text-info-draft">{{ textDraft2 }}</p>
                                <p class="text-info-draft">{{ textDraft3 }}</p>
                        </div>
                        <div class="col-md-6">
                            <h2 class="scenarios-draft-title mb-4">Scenarios draft</h2>

                            <div class="scenarios-draft mb-4" *ngFor="let scn of userScenarioDraft; let i=index">  
                                <h3 class="pt-3 ml-5"> {{ scn.title }}  
                                    <span class="pull-right">
                                        <img id ="edit-scn-draft-{{i}}" class="align-middle small mr-4 scn-draft-icon edit-icon" src="/assets/images/edit.svg">
                                        <img id ="delete-scn-draft-{{i}}" class="align-middle small mr-4 scn-draft-icon delete-icon" src="/assets/images/garbage_black.svg">
                                    </span>                                   
                                </h3>
                                <div class="author-scenarios-container ml-5">

                                        <span class="author-scenarios" *ngFor ="let author of scn.authors; let k=index">
                                                <span *ngIf = "k < (scn.authors?.length + 1) && k>0">,</span>
                                                {{ author }}
                                       </span>
                                </div>
                              

                            </div>

                            <!--
                            <h2 class="steps-draft-title mb-4">Steps</h2>
                            <div *ngFor="let step of userStepsDraft; let i=index" > 
                                    <span class="pull-right">
                                        <img id ="edit-step-draft-{{i}}" class="align-middle small mr-4 scn-draft-icon edit-icon" src="/assets/images/edit.svg">
                                        <img id ="delete-step-draft-{{i}}" class="align-middle small mr-4 scn-draft-icon delete-icon" src="/assets/images/garbage_black.svg">
                                    </span>  
                                    <app-step-card [step]="step"></app-step-card>
                            </div>
                            
                            <h2 class="resources-draft-title mb-4">Resources</h2>
                            <div *ngFor="let res of userResourcesDraft; let i=index" > 
                                    <span class="pull-right">
                                        <img id ="edit-res-draft-{{i}}" class="align-middle small mr-4 scn-draft-icon edit-icon" src="/assets/images/edit.svg">
                                        <img id ="delete-res-draft-{{i}}" class="align-middle small mr-4 scn-draft-icon delete-icon" src="/assets/images/garbage_black.svg">
                                    </span> 
                                    <app-resource-card  [res]="res" [border]="border"></app-resource-card>
                            </div>
                            -->

                            <!-- TimeLine -->
                            
                            <!-- <app-scenarios></app-scenarios> -->

                            COMPONENT APP SCENARIO
                            <app-scenarios></app-scenarios>
                        </div>

                </div>
            </div>

            
         </div>

     </div>
     
</div>
