.edit-lang {
    width: 69%;
    text-align: right;
}

form {
    background-color: #F8F8F8;
}


fieldset {
    border: 1px solid #ddd !important;
    width:60%;
    height:40%;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}	


fieldset legend {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 35%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 0;
}


.left-column{
    border-right: 1px #15111130 solid;
}

.form-control{
    width: 70%;
}

.input-data{
   display:  inline-flex;
   width:100%;
} 

label{
    width:165px;
    font-size: 1rem;
    font-weight: 700;
}

.ngx-editor-container{
    margin-left: 71px;
}

.add-button {
    padding: 0.10rem 0.70rem;
    font-size: 1.65rem;
    border-radius: 0.0rem;
    background-color: #64B9D8;
    color: white;
}


.add-button, i {
    cursor: pointer;
}

.info {
    width: 1.4rem;
}


.exclamationIcon {
    vertical-align: top;
    width: 1.0rem;
    padding-top: 0px;
}


