<div class="background  row py-lg-5">
  <div class="col-lg-12 text-center">
    <img class="" src="./assets/images/error-block.png" alt="zok">
    <div class="centered ">{{title}}</div>
  </div>
 <!-- <div class="col-12">
    <div class="col-md-4 push-md-3">
      <div class="ovale">
      <p>
        Server Error
      </p>
    </div></div>
    <div class="col-md-4 pull-md-9">Left LeftLeftLeftLeftLeftLeftLeftLeftLeftLeftLeftLeftLeft</div>
    <div class="col-md-4 pull-md-9">rightLeftLeftLeftLeftLeftLeftLeftLeftLeftLeftLeft</div>
  </div>-->
    <div class="col-lg-5 col-sm-12 push-md-4"><div class="ovale">
        <span [innerHTML]="message" class="mt-lg-3 mt-sm-0">
      </span>
    </div></div>
    <div class="col-lg-2 col-sm-12 pull-md-2  pull-lg-2 mt-lg-5 mr-lg-2 mt-sm-5">
      <img class="mx-auto d-block mt-lg-5 " src="./assets/images/tork.png" alt="Card image cap" *ngIf = '!error'>
    </div>
    <div class="col-lg-3 col-sm-12 pull-md-1 mt-lg-5 ">
      <img class=" mt-lg-5 mx-auto d-block mt-md-5" src="./assets/images/mork.png" alt="Card image cap" *ngIf = 'error'>

    </div>

</div>
