<div class="home">
  <div class="row bg-info py-lg-3 ">
    <div class="col-lg-3 "></div>
    <div class="col-lg-6 ">
      <div class="input-group search-div ">
        <i class="fa fa-search fa-3x fa-inverse fa-flip-horizontal mr-lg-3 " aria-hidden="true" data-toggle="collapse" href="#demo" role="button" aria-expanded="false" aria-controls="demo" (click)="search()"></i>
        <input type="text" class="form-control search" placeholder='{{searchPlaceholder}}' aria-describedby="basic-addon1" (keyup)="onKey($event)">
      </div>
      </div>
    <div class="col-lg-3 "></div>
  </div>

  <div class="row ">
    <div class=" col-lg-3 mt-lg-2 collapse" id="demo"  [ngClass]="collapse">
      <h1>REFINE YOUR SEARCH</h1>
      <div class="">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
      </div>
    </div>
    <div [ngClass]="contentCol" >
      <div class="col-lg-6 mt-lg-5">
        <ul class="nav nav-tabs nav-justified" role="tablist"  >
          <li *ngFor=" let item   of tabList"  class="nav-item" >
              <a class="nav-link" [ngClass]="(item == 'scenarios') ? 'active':''" data-toggle="tab"  [attr.data-target]="'#'+ item + '-tab'"  (click)="toggle(item)">{{item}} </a>
          </li>
        </ul>
      </div>
    <div class="tab-content  mx-5" >
      <div class=" row my-lg-5 vdivide result pb-5 ">
        <div class="col-lg-3  ">
          <span class="result-tab">XX</span> results for  <span class="result-tab">{{selectTab}}</span>
        </div>
        <div class="col-lg-3 text-center">
           Your filters :
        </div>
        <div class="col ">
            <span id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by relevance
            </span>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
        </div>
        <div class="col ">
          <i class="fa fa-th-large fa-2x mx-1 fa-active" aria-hidden="true"></i>
          <i class="fa fa-th-list fa-2x  mx-1 fa-default" aria-hidden="true"></i>
        </div>
      </div>

      <div class="tab-pane  " id="scenarios-tab">
        <div class="card-columns ">
          <div class="card text-center">

            <div class="card-header">
              Perform statistical analysis on historical and contemporary occupations
            </div>
            <img class="card-img-top img-fluid" src="../../assets/images/SSK-multispectral.svg" alt="">

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><button type="button" class="btn btn-secondary disabled m-1">Secondary Secondary </button><button type="button" class=" disabled btn btn-secondary m-1">Secary</button><button type="button" class="btn btn-secondary disabled m-1"> Secondary dary</button><button type="button" class="btn btn-secondary disabled m-1">Secondary Secondary </button></p>
          </div>
          <div class="card text-center">

            <div class="card-header">
              Perform statistical analysis on historical and contemporary occupations
            </div>
            <img class="card-img-top img-fluid" src="../../assets/images/SSK-multispectral.svg" alt="">

            <p class="card-text">Some quick example text to build on the card title aPerform statistical analysis on historical and contemporary occupationsnd make up the bulk of the card's content.</p>
            <p><button type="button" class="btn btn-secondary disabled m-1">Secondary Secondary </button><button type="button" class=" disabled btn btn-secondary m-1">Secary</button></p>
          </div>
          <div class="card text-center">

            <div class="card-header">
              Perform statistical analysis on historical and contemporary occupations
            </div>
            <img class="card-img-top img-fluid" src="../../assets/images/SSK-multispectral.svg" alt="">

            <p class="card-text">ionsnd make up the bulk of the card's contentSome quick example text to build on the card title aPerform statistical analysis on historical and contemporary occupatSome quick example text to build on the card title aPerform statistical analysis on historical and contemporary occupat.</p>
            <p><button type="button" class="btn btn-secondary disabled m-1">Secondary Secondary </button><button type="button" class=" disabled btn btn-secondary m-1">Secary</button><button type="button" class="btn btn-secondary disabled m-1"> Secondary dary</button><button type="button" class="btn btn-secondary disabled m-1">Secondary Secondary </button></p>

          </div>
          <div class="card text-center">

            <div class="card-header">
              Perform statistical analysis on historical and contemporary occupations
            </div>
            <img class="card-img-top img-fluid" src="../../assets/images/SSK-multispectral.svg" alt="">

            <p class="card-text">Some quick example text to build on the card title aPerform statistical analysis on historicalSome quick example text to build on the card title aPerform statistical analysis on historical and contemporary occupat and contemporary occupationsnd make up the bulk of the card's content.</p>
            <p><button type="button" class="btn btn-secondary disabled m-1"> Secondary dary</button><button type="button" class="btn btn-secondary disabled m-1">Secondary Secondary </button></p>

          </div>
        </div>
      </div>
      <div class="tab-pane " id="steps-tab">
        <div class="card  mr-3 my-5 ">
          <div class="title">
            Perform statistical analysis on historical and contemporary occupations
          </div>
          <div class="row vdivide">
            <div class="col ">
              <a href="#">Multispectral imaging for in-situ characterization of painted works of art</a>
            </div>
            <div class="col mx-auto">
              <button type="button" class="btn btn-step">
                Step 4
              </button>
            </div>
          </div>
          <div class="descmt-2 mb-5">
            Visible-reflected (VIS) images corresponds to standard photography and record the reflected light in the visible region (400-700 nm) from a subject when this is illuminated with visible light.
          </div>
        </div>
        <div class="card  mr-3 my-3">
          <div class="title">
            Perform statistical analysis on historical and contemporary occupations
          </div>
          <div class="row vdivide">
            <div class="col ">
              <a href="#">Multispectral imaging for in-situ characterization of painted works of art</a>
            </div>
            <div class="col mx-auto">
              <button type="button" class="btn btn-step">
                Step 4
              </button>
            </div>
          </div>
          <div class="desc mt-2 mb-5">
            Visible-reflected (VIS) images corresponds to standard photography and record the reflected light in the visible region (400-700 nm) from a subject when this is illuminated with visible light.
          </div>
        </div>
      </div>
      <div class="tab-pane  active" id="resources-tab">
          <div class="row d-flex h-100 mr-3 my-3">
            <div class="col-1 mr-5">
              <div class="card" style="width: 9rem;">
                <img class="card-img-top img-fluid" src="../../assets/images/mork.png" alt="Card image cap">
                <div class="text-center">
                  <p >Tutotial</p>
                </div>
              </div>
            </div>
            <div class="col align-self-center ">
                  <p><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span></p>
                  <span class="author">Charles Riondet, Laurent Romary, Annelies Van Nispen, Kepa Joseba Rodriguez, Mike Bryant</span>
                <span class="title"> Report on Standards</span>
              <p class="date">D.11.4, 2017</p>
            </div>
          </div>
        <div class="row d-flex h-100 mr-3 my-3">
          <div class="col-1 mr-5">
            <div class="card" style="width: 9rem;">
              <img class="card-img-top img-fluid" src="../../assets/images/mork.png" alt="Card image cap">
              <div class="text-center">
                <p >Tutotial</p>
              </div>
            </div>
          </div>
          <div class="col align-self-center ">
            <p><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span></p>
            <span class="author">Charles Riondet, Laurent Romary, Annelies Van Nispen, Kepa Joseba Rodriguez, Mike Bryant</span>
            <span class="title"> Report on Standards</span>
            <p class="date">D.11.4, 2017</p>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
</div>
