<div class="scenario" id="top" *ngIf="scenarioElt">
  <div class="row ">
    <div class="col-lg-7 mr-3">
      <div class=" ml-lg-5 col-md-12 col-sm-12 text-left  stitle">
       {{scenarioElt?.title?.content}}
      </div>
      <div class="w-100 "></div>
      <div class="ml-lg-5  col-md-12 col-sm-12  text-left my-lg-5 desc">
        {{scenarioElt?.descrip?.content}}
        </div>
      <div class="w-100"></div>
  </div>
    <div class="col-md-12 col-sm-12 col-lg mr-3 mt-lg-2  mr-lg-5 my-lg-5 desc">
      <img src={{scenarioElt?.image}} class="img-fluid" alt="Responsive image">
      <ng-container *ngFor=" let item of tags; let m = index">
        <p *ngIf="tagExist(item, 'scenario')" class="ml-lg-4">  <span *ngIf="tagExist(item, 'scenario')"> {{item}}</span>   <img  *ngIf="tagExist(item, 'scenario')" src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/interrogationDot.png" class="pb-1" alt="Responsive image">
           <button type="button" class="btn btn-secondary disabled m-1" *ngFor="let elt of (tagExist(item, 'scenario')| slice:0:2)"  tooltip ="{{'Type: '  +elt?.type +  ' | Source : '+ elt?.source  }}">{{elt?.key}} </button>
          <span  *ngIf = "tagExist(item, 'scenario')?.length > 2" class="collapsed text-center" data-toggle="collapse"  [attr.data-target]="'#tag' +m"  aria-expanded="false"> More ...</span>
        </p>
          <p *ngIf = "tagExist(item, 'scenario')?.length > 2"  [attr.id]="'tag' + m" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <button *ngFor=" let elt of tagExist(item, 'scenario')?.slice(2,tagExist(item, 'scenario')?.length)"  tooltip ="{{'Type: '  +elt?.type +  ' | Source : '+ elt?.source  }}"  type="button"  class="btn btn-secondary  m-1" >{{elt?.key}}  {{elt?.abbr}}</button>
          </p>
      </ng-container>
    </div>
  </div>

  <div class="row ">
    <div class="col-10 mx-auto">
      <div id="ontimeline">
        <ul class="timeline timeline-horizontal">
          <li class="timeline-item"  *ngFor="let step of scenarioElt?.steps; let i = index">
            <div class="timeline-badge " [ngClass]="(i==idSelectedStep)? 'selected':''" (click)="updateContent(step, i, $event)">
              <i class="glyphicon glyphicon-check" >{{i+1}}
             </i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <p>{{getStepTitle(step)}}</p>
              </div>
            </div>
          </li>
        </ul>
        <ul class="cd-timeline-navigation">
          <li><span (click)="updateSlide('prev', $event)" class="prev ">&nbsp;<i class="fa fa-chevron-circle-left fa-2x ml-4" aria-hidden="true"></i></span></li>
          <li ><span  (click)="updateSlide('next', $event)"  class="next"  >&nbsp;<i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i></span></li>
        </ul> <!-- .cd-timeline-navigation -->
      </div>
    </div>
  </div>
  <div class="w-100"></div>
  <div class=" row mb-lg-2">
    <div style="display: block">
    <div class=" col-12 step ml-lg-5">
      <span class="position  ml-lg-3">{{selectedStep?.position}}.</span>
      <span>{{selectedStep?.title?.content}}</span>
    </div>
    <div class="w-100"></div>

    <div class="col-12 ">
      <div class="ml-lg-5  col-md-11 col-sm-11 text-left desc">
        {{selectedStep?.description?.content}}
         </div>
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg  ml-lg-5 desc">
      <ng-container *ngFor=" let item of tags; let i = index">
        <p *ngIf="tagExist(item, 'step')"> <span>{{item}}  <img  src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/interrogationDot.png" class="pb-1" alt="Responsive image"></span>
          <button type="button" class="btn btn-secondary disabled m-1" *ngFor=" let elt of tagExist(item, 'step')?.slice(0,2)" tooltip ="{{'Type: '  +elt?.type +  ' | Source : '+ elt?.source  }}">{{tagShow(elt)?.key}} </button>
          <span  *ngIf = "tagExist(item, 'step')?.length > 2" class="collapsed text-center" data-toggle="collapse"  [attr.data-target]="'#tag' +m"  aria-expanded="false"> More ...</span>
        </p>
        <p *ngIf = "tagExist(item, 'step')?.length > 2"  [attr.id]="'tag' + m" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <button *ngFor=" let elt of tagExist(item, 'step')?.slice(2,tagExist(item, 'step')?.length); let j = index"  tooltip ="{{'Type: '  +elt?.type +  ' | Source : '+ elt?.source  }}"  type="button"  class="btn btn-secondary  m-1" >{{elt?.key}}  {{elt?.abbr}}</button>
        </p>
      </ng-container>
    </div>
  </div>
  <div class="row  resource mt-lg-5" >
    <div class=" mx-auto text-center" *ngIf="!selectedStep?.generals && !selectedStep?.projects" >
          <span  class="nohead  ">
           No resources for this step
        </span>
    </div>
    <div *ngIf="selectedStep?.generals" class="  my-lg-5" [ngClass]="(selectedStep?.metadata?.standards?.length > 0  )? 'col-lg-7':'col-lg-12'" >
      <div class="ml-lg-5  col-md-12 col-sm-12  text-left desc">
        <div  class="res">
          <div class="head mb-lg-2" >
          <span  class="rtitle">
          <i class="ic ssk-resources mr-3 mt-sm-2" aria-hidden="true"></i>
            GENERAL RESOURCES
        </span>
          </div>
          <app-resource-card  *ngFor = "let res of selectedStep?.generals" [border]="border" [res]="res"></app-resource-card>
        </div >
        <div   *ngIf="selectedStep?.projects" class="res">
        <div class=" col head" >
          <span  class="rtitle  ">
          <i class="ic ssk-projects mr-3" aria-hidden="true"></i>
           PROJECT-SPECIFIC RESOURCES
        </span>
        </div>
        <app-resource-card *ngFor = "let res of selectedStep?.projects; " [border]="border" [res]="res"></app-resource-card>
      </div>
      </div>
    </div>
    <div *ngIf="selectedStep?.metadata?.standards" class="  ml-lg-5  desc my-lg-5"  [ngClass]="(selectedStep?.generals?.length > 0  )? 'col-md-12 col-sm-12 col-lg':'col-lg-12'">
      <div > <p><span>standards  <img  src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/interrogationDot.png" class="pb-1" alt="Responsive image"></span></p>
        <div *ngFor=" let elt of selectedStep?.metadata?.standards" class="my-2">
        <button type="button" class="btn btn-secondary disabled m-1" >{{elt?.abbr}} {{elt?.key}}</button>
        <span *ngIf="elt?.complete != null"  (click)="cleanAndOpen(elt?.link)"  class="complete" [innerHtml]="clean(elt?.complete)"></span>
        <p *ngIf="elt?.desc != null" class="desc" [innerHtml]="clean(elt?.desc[0]?.eng)"></p>
    </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="row mx-auto bottom my-lg-5">
      <button disabled   type="button" class="btn btn-primary  btn-sm m-1 mr-lg-4 mr-sm-0 " [disabled]="(idSelectedStep - 1 == scenarioElt?.steps?.length)"> <i class="fa fa-chevron-circle-left "></i> <span class="hide">PREVIOUS STEP</span> </button>
      <button [routerLink]="['/', 'scenarios']"  type="button" class=" btn-sm btn btn-secondary  m-1 mr-lg-3" > <img  src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/backToScenarios.png" class="pb-1 mr-2" alt="Responsive image">back to scenarios</button>
      <button disabled  type="button" class="btn btn-primary  m-1 ml-lg-3  btn-sm" [disabled]="(idSelectedStep + 1 == scenarioElt?.steps?.length)"> <span class="hide"> NEXT STEP </span><i class="fa fa-chevron-circle-right "></i></button>
    </div>
  </div>

</div>
