

@import '../../partials/variables';
@import '../../timeline';


.scenario {
  background-color: $color-33;
  .title{
    font-family: $roboto-regular;
    font-size: 48px;
    color: $color-34;
  }
  .desc{
    color: $color-18;
    font-family: $roboto-light;
    font-size: 18px;
    p{
      font-family: $roboto-italic;
      font-size: 20px;
      color: $color-21;

    }
  }
  img{
    max-height: 75%;
  }
}


ol{
  list-style-type: none !important;
}

.step{
  color: $color-14;
  font-family: $raleway-semibold;
  font-size: 36px;
  .position{
    letter-spacing: .3em;
  }
}
p span{
 text-transform: capitalize;
}

.resource {
  background-color: $color-3;
  .title {
    font-size: 24px;
    font-family: $roboto-medium;
    width: 100%;
  }
  .head{
    border-bottom: 1px solid $color-35;
  }

  .nohead{
    color: $color-10 !important;
    font-size: 24px;
    font-family: $roboto-medium;
    width: 100%;
  }

  .complete {
    font-family: $roboto-italic;
    font-size: medium;
    cursor: pointer;
  }
  .desc{
    font-size: small !important;
    font-family: $roboto-light !important;
  }
}

.bottom {

button{
  border-radius: 50px;
  font-family: $roboto-medium !important;
  text-transform: uppercase;
  }
  .btn-primary {
    background-color: $color-12 !important;
  }
  .btn-secondary{
    border-color: $color-12 !important;
    color:  $color-12 !important;
  }
}

:host /deep/ div.tooltip.show {
  opacity: 1 !important;
}

:host /deep/ div.tooltip-inner {
  background-color: $color-3 !important;
  font-family: $roboto-light !important;
  border: 1px solid  $color-32;
  color: $color-32;
  font-size: larger !important;
  font-weight: bold !important;

}

:host /deep/ div.tooltip-inner::before{


}
:host /deep/ .tooltip.top .tooltip-arrow .arrow:before,
:host /deep/ .tooltip.right .tooltip-arrow .arrow:before,
:host /deep/ .tooltip.top .tooltip-arrow .arrow,
:host /deep/ .tooltip.right .tooltip-arrow .arrow
{
  border: #009688;
}

dl, ol, ul {
  list-style-type: none;
}

