
<div class="card  mr-3 my-5 ">
  <div class="title">
    {{shortTitle?.content}}
  </div>
  <div class="row vdivide">
    <div class="col ">
      <a [href]="'#/scenarios/' + scenario?.id + '/1'">{{scenarioTitle?.content}}</a>
    </div>
    <div class="col mx-auto">
      <a  class="btn btn-step" [href]="'#/scenarios/' + scenario?.id + '/' + step.position">
        Step {{step?.position}}
      </a>
    </div>
  </div>
  <div class="descmt-2 mb-5">
    {{shortDesc?.content}}
  </div>
  <p>
    <button  tooltip ="{{'Type: '  +elt?.type +  ' / Source : '+ elt?.source  }}" type="button" class="btn btn-secondary disabled m-1" *ngFor=" let elt of step?.metadata">{{elt?.key}} {{elt?.abbr}} </button >
  </p>
</div>
