@import '../../partials/variables';

.card{
  border:  none !important;
  border-bottom: 1px solid #CFCFCF !important;
  border-radius: inherit !important;
  background-color: transparent;
}

.title{
  color: $color-27;
  font-family: $raleway-regular;
  font-size: 22px;
}

.row.vdivide [class*='col']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
}

.btn-step{
  background-color: $color-22;
  color: $color-3;
  font-family: $raleway-regular;
}

:host /deep/ div.tooltip.show {
  opacity: 1 !important;
}

:host /deep/ div.tooltip-inner {
  background-color: $color-3 !important;
  font-family: $roboto-light !important;
  border: 1px solid  $color-32;
  color: $color-32;
  font-size: larger !important;
  font-weight: bold !important;

}

:host /deep/ div.tooltip-inner::before{


}
:host /deep/ .tooltip.top .tooltip-arrow .arrow:before,
:host /deep/ .tooltip.right .tooltip-arrow .arrow:before,
:host /deep/ .tooltip.top .tooltip-arrow .arrow,
:host /deep/ .tooltip.right .tooltip-arrow .arrow
{
  border: #009688;
}
