
<div class="card  mr-3 my-5 ">
  <div class="title">
    {{shortTitle?.content}}
  </div>
  <div class="row vdivide">
    <div class="col ">
      <a href="#">{{scenarioTitle?.content}}</a>
    </div>
    <div class="col mx-auto">
      <button type="button" class="btn btn-step">
        Step {{step?.position}}
      </button>
    </div>
  </div>
  <div class="descmt-2 mb-5">
    {{shortDesc?.content}}
  </div>
  <p>
    <button type="button" class="btn btn-secondary disabled m-1" *ngFor=" let elt of step?.metadata">{{elt?.key}} {{elt?.abbr}} </button>
  </p>
</div>
