
<div class="row home ">
  <div class="col-lg-6 my-lg-5 ">
        <div class=" ml-lg-5 col-md-12 col-sm-12 text-lg-left text-center">
            <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/ssk_logo.svg" class="img-fluid " alt="Responsive image">
        </div>
        <div class="w-100 "></div>
        <div class="ml-lg-5 col-lg-6 col-md-12 col-sm-12 text-center  text-lg-left my-lg-5 home-text1 " [innerHtml]="homeText | safeHtml"></div>
        <div class="w-100"></div>
          <div class="dropdown col-lg-6 col-md-12 col-sm-12 text-center  text-lg-left  ml-lg-5">
            <button class="btn btn-secondary dropdown-toggle my-1" type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{browseBtn}}
            </button>
            <div class="dropdown-menu col-lg-6 col-md-12 col-sm-12 text-center  text-lg-left" aria-labelledby="dropdownButton">
              <a *ngFor=" let item of browseItems" class="dropdown-item" [ngClass]="(item != 'scenarios') ? 'disabled':''"[routerLink]="'/'+item" >{{item}}</a>
            </div>
      </div>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6  mt-lg-2 text-center">
    <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/mork_on_logo.png" class="img-fluid" alt="Responsive image">
  </div>
</div>
<div class="home-second">
   <div class="row pt-lg-5">
    <div class="col-sm-12 col-md-12 col-lg-6 text-center">
      <h1>{{firstTitle}}</h1>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-6"></div>
  </div>
  <div class="row py-lg-5">
    <div class="col-sm-12 col-md-12 col-lg-6 text-center mt-lg-5">
      <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/tork.png" class="img-fluid mt-xl-1" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 ">
      <div class="row">
        <div class="col-sm-12 col-md-12  col-lg-12 my-lg-3 text-center text-lg-left ">
          <h5 class="" [innerHtml]="rightContent | safeHtml"> </h5>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12 col-md-12 col-lg-1 text-center text-lg-left ">
          <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/handshake.svg" class="" alt="Responsive image"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-11 text-center text-lg-left  mt-1">
          <h5 [innerHtml]="itemOne | safeHtml"></h5>
        </div>
        <div class="col-sm-6 ">
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12 col-md-12 col-lg-1 text-center text-lg-left my-2">
          <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/padlock.svg" class="" alt="Responsive image"/>
        </div>
        <div class="col-sm-12 col-md-12  col-lg-11 text-center text-lg-left my-3">
          <h5 [innerHtml]="itemTwo | safeHtml"></h5>
        </div>
        <div class="col-sm-6 ">
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12 col-md-12 col-lg-1 text-center text-lg-left">
          <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/settings.svg" class="" alt="Responsive image"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-11 text-lg-left text-md-left text-center mt-1">
          <h5 [innerHtml]="itemThree | safeHtml"></h5>
        </div>
        <div class="col-sm-6 ">
        </div>
      </div>
    </div>
  </div>
  <div class="my-lg-5"></div>
  <div class=" down row  pt-xl-5">
    <div class="col-lg-6"></div>
      <div class="col-sm-12 col-md-12 col-lg-6  pt-xl-4 text-center">
        <h1 class="">{{secondTitle}}</h1>
      </div>
    </div>
  <div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-6 mt-lg-5">
      <div class="row my-lg-3 ">
        <div class="col-sm-12 col-lg-9  ml-lg-5  col-md-12 my-lg-3 text-lg-left text-center">
          <h5 class=" ml-lg-5 " [innerHtml]="leftTextTile | safeHtml"> </h5>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12 ml-lg-5 col-md-12 col-lg-1 text-center text-lg-left">
          <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/file.svg" class="ml-lg-5" alt="Responsive image"/>
        </div>
        <div class="ml-lg-5 col-sm-12 col-md-12 col-lg-9 text-lg-left text-md-left text-center  mt-1">
          <h5 [innerHtml]="sItemOne | safeHtml"></h5>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12 col-md-12 col-lg-1 ml-lg-5 text-center text-lg-left">
          <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/thumb-up.svg" class="ml-lg-5" alt="Responsive image"/>
        </div>
        <div class="col-sm-12 ml-lg-5  col-md-12 col-lg-9 text-lg-left text-md-left text-center my-3">
          <h5 [innerHtml]="sItemTwo | safeHtml"></h5>
        </div>
        <div class="w-100 "></div>
        <div class="col-sm-12 col-md-12 col-lg-1 ml-lg-5 text-center text-lg-left">
          <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/chat.svg" class="ml-lg-5 " alt="Responsive image"/>
        </div>
        <div class="col-sm-12 ml-lg-5 col-md-12 col-lg-9 text-lg-left text-md-left text-center mt-1">
          <h5 [innerHtml]="sItemThree | safeHtml"></h5>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 text-center">
      <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/mork.png" class="img-fluid mt-3" alt="Responsive image">
    </div>
  </div>
  <div class=" row my-lg-5"></div>
  <div class="row  pt-xl-5">
    <div class="col-sm-12 col-md-12 col-lg-6  pt-xl-5  text-center">
      <h1 class="down">{{thirdTitle}}</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6"></div>
  </div>
  <div class="row  pt-lg-3 pb-lg-5">
    <div class="col-sm-12 col-md-12 col-lg-6  pt-xl-5 text-center">
      <img src="https://ssk-application.parthenos.d4science.org/ssk/assets/images/tork&mork.png" class="img-fluid mt-xl-1" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5  pt-lg-3 text-lg-left text-center"> <h5 class="last-content" [innerHtml]="lastContent | safeHtml"></h5></div>
  </div>
</div>
