// colors

$color-1: #383838; // Mine Shaft
$color-2: #35596D; // Highland
$color-3: #ffffff; // White
$color-4: #f8f8f8; // Alabaster
$color-5: #dfdfdf;
$color-6: #666666;
$color-7: #2AABD2;
$color-8: #02003B;
$color-9: #606060;
$color-10: #FF0000;
$color-11: #47C006;
$color-12: #1F86A5;
$color-13: #656565;
$color-14: #2D4F63;
$color-15: #50E3C2;
$color-16: #000000;
$color-17: #979797;
$color-18: #333333;
$color-19: #399BCC;
$color-20: #F7F7F7; // Home top
$color-21: #656565;
$color-22: #3E6477;
$color-23: #292929;
$color-24: #3E3E3E;
$color-25: #969696;
$color-26: #CFD6D9;
$color-27: #23393E;
$color-28: #CFCFCF;
$color-29: #9E9D9D;
$color-30: #02003C;
$color-31: #3388CC;
$color-32: #5B5A5A;
$color-33: #F8F8F8;
$color-34: #4C4C4C;
$color-35: #AEAEAE;
$color-36: #EDE9E9;
$color-37: #DADADA;
$color-38: #F2F2F2;


//margin
$seventy-five: 75px;
$thirty: 30px;
$fifty: 50px;
$eighteen: 18px;
$fourteen: 14px;
$sixteen: 16px;
$twenty: 20px;
$twenty-two: 22px;

// fonts

$roboto-regular: 'Roboto-Regular';
$roboto-medium: 'Roboto-medium';
$raleway-medium: 'Raleway-Medium';
$raleway-italic: 'Raleway-Italic';
$raleway-regular: 'Raleway-Regular';
$raleway-semibold: 'Raleway-SemiBold';
$raleway-bold: 'Raleway-Bold';
$roboto-light: 'Roboto-Light';
$roboto-italic: 'Roboto-Italic';
$adventure: 'Adventure';
$proxima-nova-regular : 'Proxima-Nova-Regular';
$animeace2_ital: 'Animeace2_ital';

