<div id="topall">
    <div class="nav-title">
      <span id="title">Edition de métadonnées TEI / CORLI </span>
      <i class="fa fa-star" id="showall" onclick="window.teimeta.showAll();"></i>
      <i class="fa fa-star-o" id="hideall" onclick="window.teimeta.hideAll();"></i>
      <span id="titledate"></span>
    </div>
  
    <nav>
    <label for="show-menu" class="show-menu">Show Menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
      <li>
        <a id="file-open" target="_blank" onclick="window.teimeta.openXml();">
          <i class="headtopi fa fa-folder-open-o fa-1x" title="Open TEI File"></i>
          <span class="headtopt" id="xmlopen">Open</span>
        </a>
      </li>
      <li>
        <a target="_blank">
          <i class="headtopi fa fa-save fa-1x" title="Save TEI File"></i>
          <span class="headtopt" id="xmlsave1">Save</span> ￬ </a>
        <ul class="hidden">
          <li>
            <a id="file-save" target="_blank" onclick="window.teimeta.saveLocal();">
              <i class="headtopi fa fa-save fa-1x" title="Save TEI file"></i>
              <span class="headtopt" id="xmlsave2">Save TEI file</span>
            </a>
          </li>
          <li>
            <a id="file-saveas" target="_blank" onclick="window.teimeta.saveAsLocal();">
              <span class="headtopt" id="xmlsaveas">Save TEI file as ...</span>
            </a>
          </li>
        </ul>
        </li>
      <li>
          <a id="file-new" target="_blank" onclick="window.teimeta.newXml();">
            <i class="headtopi fa fa-cog fa-1x" title="New XML file"></i>
            <span class="headtopt" id="xmlnew">New</span> ￬ </a>
      </li>
      <li>
        <a href="#"><span id="applyoddcss">Apply ODD/CSS</span> ￬ </a>
        <ul class="hidden">
          <li>
            <a id="file-apply-odd" target="_blank" onclick="window.teimeta.openOdd();">
              <i class="headtopi fa fa-cog fa-1x" title="Apply ODD file"></i>
              <span class="headtopt" id="oddapply">Apply ODD file</span>
            </a>
          </li>
          <li>
            <a id="file-apply-css" target="_blank" onclick="window.teimeta.openCss();">
              <span class="headtopt" id="cssapply">Apply CSS file</span>
            </a>
          </li>
          <li>
            <a id="file-clean-css" target="_blank" onclick="window.teimeta.cleanCss();">
              <span class="headtopt" id="cssclean">Clean CSS file</span>
            </a>
          </li>
        </ul>
    </li>
    <li>
      <a href="#"><span id="paramlinks">Parameters / Links</span> ￬ </a>
      <ul class="hidden">
        <li>
          <a id="top2-params" target="_blank" onclick="window.teimeta.oddParams();">
            <i class="headtopi fa fa-wrench fa-1x" title="Parametres"></i>
            <span class="headtopt" id="menuparam">Parameters</span>
          </a>
        </li>
        <li>
          <a id="link-ortolang" target="_blank">
            <span class="headtopt" id="link-ortolang-msg">Ortolang</span>
          </a>
        </li>
        <li>
          <a id="link-metadoc" target="_blank">
            <span class="headtopt" id="link-metaadoc-msg">TEIMETA Documentation</span>
          </a>
        </li>
        <li>
          <a id="link-teiconvert" target="_blank">
            <span class="headtopt" id="link-teiconvert-msg">TEICONVERT</span>
          </a>
        </li>
        <li>
          <a id="link-teicorpo" target="_blank">
            <span class="headtopt" id="link-teicorpo-msg">TEI-CORPO Download</span>
          </a>
        </li>
      </ul>
      </li>
      <li>
          <a href="#"><span id="choicelanguage">Language</span> ￬</a>
          <ul class="hidden">
            <li>
              <a id="top2-language" target="_blank">
                <!-- <i class="headtopi fa fa-language fa-1x" title="Languages"></i> -->
                <span onclick="window.teimeta.setLanguage('fre');" height="20px">Français</span>
              </a>
            </li>
            <li>
              <a id="top2-language" target="_blank">
                  <!-- <i class="headtopi fa fa-language fa-1x" title="Languages"></i> -->
                  <span onclick="window.teimeta.setLanguage('eng');" height="20px">English</span>
              </a>
            </li>
            <li>
                <a id="top2-language" target="_blank">
                <!-- <i class="headtopi fa fa-language fa-1x" title="Languages"></i> -->
                <span onclick="window.teimeta.setLanguage('spa');" height="20px">Español</span>
              </a>
            </li>
            <li>
              <a id="top2-language" target="_blank">
                <!-- <i class="headtopi fa fa-language fa-1x" title="Languages"></i> -->
                <span onclick="window.teimeta.setLanguage('jpn');" height="20px">日本語</span>
              </a>
            </li>
                  
  
          </ul>
      </li>
      <li>
        <a id="help" target="_blank" onclick="window.teimeta.about();">
          <i class="headtopi fa fa-question fa-1x" title="Aide"></i>
          <span class="headtopt" id="menuhelp">Aide</span>
        </a>
      </li>
    </ul>
    </nav>
    </div>
  
    <div id="bottomall">
    <div id="info">
      <div class="infofiles" id="oddname">ODD: </div>
      <div class="infofiles" id="cssname">CSS: </div>
      <div class="infofiles" id="filename">TEI: </div>
    </div>
    <div id="teidata"></div>
    </div>
    <input style="display:none;" id="upload-input-transcript" type="file" name="file-transcript" />